
.eventpicture{


  min-height: 20px;
  background-image:url('https://image.ibb.co/kMz9WR/final.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment:fixed;
  background-position:center center;
}
.info-overflow::before{

  position: relative;

  z-index: 4;
  width: 100%;
  height: 100%;
  display: block;
  content: "";
  background: linear-gradient(rgba(0, 47, 64, 0) 70%,rgba(0, 47, 64, 0) 50%, #002f40 100%);
}
.image {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 20px;
  padding-right: 20px;

  filter: gray;
  -webkit-filter: grayscale(1);
  -webkit-transition: all .8s ease-in-out;
	transition: .3s ease-in-out;
  float: left;
}
.image:hover {
  filter: none;
      -webkit-filter: grayscale(0);
      -webkit-transform: scale(1.01);
}
.images{

  display: table;
  margin: 0 auto;
}
.text{
  color: white;
  z-index: 7;
  font-weight: bold;
}
.heading{
  margin-top:10px;
}
.add{
  display: inline-block;
  background: transparent;
  color: #06d7d9;
  border: 2px solid #06d7d9;
  display: table;
  margin: 0 auto;
  margin-bottom: 10px;
}

.container {
    padding: 2px;
    z-index: 4;
}


#skills{
  padding: 5px;
  margin-top: 10px;

}









hr {
  max-width: 50px;
  border-width: 3px;
  border-color: #06d7d9;
}


h2{
  font-family: 'Roboto', sans-serif;
	font-size: 30px;
	font-weight: 500;
  position: center;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

section {
  padding: 100px 0;
}

.section-heading {
  margin-top: 0;
}

::-moz-selection {
  color: white;
  background: #222222;
  text-shadow: none;
}

::selection {
  color: white;
  background: #222222;
  text-shadow: none;
}

img::selection {
  color: white;
  background: transparent;
}

img::-moz-selection {
  color: white;
  background: transparent;
}


@-moz-keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
