


<section id="skills">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Sponzori</h2>
        <hr class="primary">
      </div>
    </div>
  </div>
</section>



<div class="images">
  <div class="image">
    <img src="https://image.ibb.co/hPVzXR/3f2ec5029b_01.jpg" style="width:126px;height:126px;">
  </div>

  <div class="image">
        <img src="https://image.ibb.co/ebMdRm/AAIA_w_DGAAAAAQAAAAAAAAym_AAAAJDlk_MTY2_MGMx_LWFj_Mm_Yt_NDZj_ZS1i_Nm_Fj_LWMz_Yz_Mw_Yj_Uw_Njg5_Mw.png" style="width:126px;height:126px;" />
  </div>

  <div class="image">
        <img src="https://image.ibb.co/hCdEz6/nova_diveoc.png" style="width:126px;height:126px;" />
  </div>

  <!--Zira <div class="image">
        <img src="https://image.ibb.co/mT6EXR/nova.png" style="width:126px;height:126px;" />
  </div>-->

  <div class="image">
        <img src="https://image.ibb.co/i73Ez6/bstelecomlogo.png" style="width:126px;height:126px;" />
  </div>

  <div class="image">
        <img src="assets/images/mistral.png" style="width:126px;height:126px;" />
  </div>

  <div class="image">
        <img src="https://image.ibb.co/jgmOsR/47828302_9bd6_4618_ac28_e04fa108eef4disti1_jpg_1.jpg" style="width:126px; height:126px;" />
  </div>

  <div class="image">
        <img src="https://image.ibb.co/nfLV6m/thumbz_adv.jpg" style="width:126px;height:126px;" />
  </div>

</div>
