.image {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 20px;
  padding-right: 20px;
  width:150px;
  height:130px;

  filter: gray;
  -webkit-filter: grayscale(1);
  -webkit-transition: all .8s ease-in-out;
	transition: .3s ease-in-out;
  float: left;
}
.image:hover {
  filter: none;
      -webkit-filter: grayscale(0);
      -webkit-transform: scale(1.01);
}

tr {
  float: left;
  margin: 0px;
  width:12.5%;
}

table {
  width: 80%;
  margin:0 auto;
  display: table;
  font-family: 'Roboto', sans-serif;
  margin-bottom:0px;
}

.container {
    padding: 2px;
    z-index: 4;
}

#skills{
  padding: 5px;
  margin-top: 10px;
}

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: #06d7d9;
}

h2{
  font-family: 'Roboto', sans-serif;
	font-size: 30px;
	font-weight: 500;
  position: center;
}

section {
  padding: 100px 0;
}

.section-heading {
  margin-top: 0;
}

@media screen and (max-width: 1130px) {
  table{
    margin:0px auto;
    display: table;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 90%;
  }
  tr {
    display: table;
    margin: 0px;
  }
}

@media screen and (max-width: 920px) {
  table{
    margin:0px auto;
    display: table;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 79%;
  }
  tr {
    display: table;
    margin: 0px;
  }
}

@media screen and (max-width: 600px) {
  table{
    margin:0px auto;
    display: table;
    margin-top: 0px;
    width: 75%;
  }
  tr {
    display: table;
    margin: 0px;
  }
}

@media screen and (max-width: 390px) {
  table{
    margin:0px auto;
    display: table;
    margin-top: 0px;
    width: 85%;
  }
  tr {
    display: table;
    margin: 0px;
  }
}
