
<div class="image">
  <img src="assets/images/bh-telecom.jpg"  style="width:126px;height:126px;">
</div>

<div class="image">
      <img src="assets/images/BSTS_logo.png" style="width:126px;height:126px;" />
</div>

<div class="image">
      <img src="assets/images/disti.jpg" style="width:126px;height:126px;" />
</div>

<div class="image">
      <img src="assets/images/diveco-energo.png" style="width:126px;height:126px;" />
</div>

<div class="image">
      <img src="assets/images/infostudio.jpg" style="width:126px;height:126px;" />
</div>

<div class="image">
      <img src="assets/images/mistral.png" style="width:126px;height:126px;" />
</div>

<div class="image">
      <img src="assets/images/zira.jpg" style="width:126px; height:126px;" />
</div>

<div class="image">
      <img src="assets/images/images.jpg" style="width:126px;height:126px;" />
</div>
