<div class="images">
  <div class="image">
    <img src="assets/images/bh-telecom.jpg"  style="width:126px;height:126px;">
  </div>

  <div class="image">
        <img src="assets/images/BSTS_logo.png" style="width:126px;height:126px;" />
  </div>

  <div class="image">
        <img src="assets/images/disti.jpg" style="width:126px;height:126px;" />
  </div>

  <div class="image">
        <img src="assets/images/diveco-energo.png" style="width:126px;height:126px;" />
  </div>

  <div class="image">
        <img src="assets/images/infostudio.jpg" style="width:126px;height:126px;" />
  </div>

  <div class="image">
        <img src="assets/images/mistral.png" style="width:126px;height:126px;" />
  </div>

  <div class="image">
        <img src="assets/images/zira.jpg" style="width:126px; height:126px;" />
  </div>

  <div class="image">
        <img src="assets/images/images.jpg" style="width:126px;height:126px;" />
  </div>
</div>


<button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">ADD</button>

<div id="id01" class="modal">

  <form class="modal-content animate">
    <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>

    <div class="container">
      <label><b>Naziv sponzora</b></label>
      <input type="text" placeholder="Unesite naziv" name="uname" required>

      <input type="file" name="pic" required accept="image/*">

      <button type="submit">Save</button>
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
    </div>
  </form>
</div>

<script>
var modal = document.getElementById('id01');

window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>
