<body>
<div class="elektrijada">
<div class="form-content">
<form>
  <h2>Izvještaj događaja</h2>
  <fieldset class="groupBox1">
    <input [(ngModel)]="Title" [ngModelOptions]="{standalone: true}" type="text" name="year" placeholder="Naziv događaja"/>
    <fieldset class="groupBox2">
    <label for="datum">Početak događaja: </label>
    <input [(ngModel)]="StartDate" type="date" id="datum" name="StartDate">
    <label for="datum2">Završetak događaja: </label>
    <input [(ngModel)]="EndDate" type="date" id="datum2" name="EndDate">

    </fieldset>
    <fieldset class="groupBox2">
    <label for="pozadina">Slika: </label>
    <input ng2FileSelect [uploader]="uploader" type="file" id="pozadina" name="pozadina" accept="image/*">
    </fieldset>
    <textarea [(ngModel)]="LongText" [ngModelOptions]="{standalone: true}" placeholder="Tekst" onkeyup="adjust_textarea(this)"></textarea>
    <textarea [(ngModel)]="ShortText" [ngModelOptions]="{standalone: true}" placeholder="Sažetak" onkeyup="adjust_textarea(this)"></textarea>

</fieldset>
<fieldset class="groupBox3">
  <form>
 <input type="button" value="Dodaj" (click)="upload()"/>
</form>
</fieldset>
</form>

</div>
</div>
</body>
