<footer class="footer row">
  <div class="footer-left col-md-4 col-sm-6">
    <p class="about">
      <span> About the company</span> Ut congue augue non tellus bibendum, in varius tellus condimentum. In scelerisque nibh tortor, sed rhoncus odio condimentum in. Sed sed est ut sapien ultrices eleifend. Integer tellus est, vehicula eu lectus tincidunt,
      ultricies feugiat leo. Suspendisse tellus elit, pharetra in hendrerit ut, aliquam quis augue. Nam ut nibh mollis, tristique ante sed, viverra massa.
    </p>
  </div>
  <div class="footer-center col-md-4 col-sm-6">
    <div>
      <i class="fa fa-map-marker"></i>
      <p><span> Zmaja od Bosne bb</span> Sarajevo, Bosna i Hercegovina</p>
    </div>
    <div>
      <i class="fa fa-phone"></i>
      <p> (+387) 33 250 749</p>
    </div>
    <div>
      <i class="fa fa-envelope"></i>
      <p><a href="#"> steleks.ba@gmail.com</a></p>
    </div>
  </div>
  <div class="footer-right col-md-4 col-sm-6">
    <h2> <span> Logo</span></h2>
    <p class="menu">
      <a href="#"> Pocetna</a> |
      <a href="#"> O nama</a> |
      <a href="#"> Vijesti</a> |
      <a href="#"> Upravni odbor</a> |
      <a href="#"> Elektrijada</a> |
      <a href="#"> Sifi</a> |
      <a href="#"> Galerija</a>
    </p>
    <p class="name"> Created by: &copy; Steleks IT team</p>

  </div>
</footer>
