<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

<footer class="footer">
  <div class="footer-left">
    <div class="lokacija"><iframe width="300" height="180" src="https://maps.google.com/maps?width=300&amp;height=200&amp;hl=en&amp;q=Elektrotehnicki%20fakultet%20Sarajevo+(Steleks)&amp;ie=UTF8&amp;t=&amp;z=15&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
      <a href="https://www.maps.ie/create-google-map/">Add map to website</a></iframe></div><br />
  </div>

  <div class="footer-center">
    <div class="left">
      <i class="fa fa-map-marker"></i>
      <p><span> Zmaja od Bosne bb</span> Sarajevo, Bosna i Hercegovina</p>
    </div>
    <div class="left">
      <i class="fa fa-phone"></i>
      <p> (+387) 33 250 749</p>
    </div>
    <div class="left">
      <i class="fa fa-envelope"></i>
      <p><a href="#"> steleks.ba@gmail.com</a></p>
    </div>
  </div>
  <div class="footer-right2">
    <div class="friends2">
      <p class="friends"><a href="https://zamger.etf.unsa.ba/"> zamger.etf.unsa.ba</a></p>
      <p class="friends"><a href="https://c2.etf.unsa.ba/"> c2.etf.unsa.ba</a></p>
      <p class="friends"><a href="http://www.etf.unsa.ba/"> etf.unsa.ba</a></p>
    </div>
      <div class="icons">
        <a href="https://www.facebook.com/STELEKS/"><i class="fa fa-facebook"></i></a>
        <a href="https://twitter.com/steleks_etf_sa"><i class="fa fa-twitter"></i></a>
        <a href="https://www.youtube.com/channel/UC-vcMTYwoNTY8XsskaG9YTQ"><i class="fa fa-youtube"></i></a>
        <a href="https://www.instagram.com/etfsteleks/?utm_source=ig_profile_share&igshid=e6lip26sglr9"><i class="fa fa-instagram"></i></a>
      </div>
  </div>
  <div class="footer-right2">
    <h2 style="padding-bottom:40px;"> <span> <img src="assets/images/steleks_logo.svg"></span></h2>
    <p class="name" id="createdBy"><a>Created by: &copy; Steleks IT team</a></p>
  </div>
  <div id="allRights" class="modal">
    <div class="modal-content">
      <span id="closeSpan" class="close">&times;</span>
      <h4>ČLANOVI RAZVOJNOG TIMA</h4>
      <div id="frontendDev">
        <h5>FRONTEND</h5>
          <ul class="devList">
              <li>Amina Aljićević</li>
              <li>Emir Avdispahić</li>
              <li>Edina Osmanspahić</li>
              <li>Amila Mujak</li>
            </ul>
      </div>
      <div  id="backendDev">
        <h5>BACKEND</h5>
          <ul class="devList">
              <li>Faruk Sinanović</li>
              <li>Benjamin Šehić</li>
              <li>Aldo Selimović</li>
              <li>Nejra Bahtić</li>
            </ul>
      </div>
      <div id="updateDev">
          <h5>UPDATE</h5>
          <ul class="devList">
              <li>Mirza Gojak</li>
              <li>Samir Došljak</li>
              <li>Zerina Ramić</li>
              <li>Ajla Panjeta</li>
            </ul>
      </div>
      <p>
        <b>
            All rights reserved by Steleks IT team.
        </b>
      </p>
    </div>
  
  </div>
</footer>
