.eventpicture{
  min-height: 660px;
  background-image:url('../../assets/images/elektrijada.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment:fixed;
  background-position:center center;
  opacity: 0.9;
}
.info-overflow::before{
  position: absolute;
  top: 0;
  left: 0;

  z-index: 3;
  width: 100%;
  height: 100%;
  display: block;
  content: "";
  background: linear-gradient(rgba(0, 47, 64, 0) 0%,rgba(0, 47, 64, 0) 30%, #002f40 100%);
}
.info-inner{
  z-index: 2;
}
.info-inner::after{
    content: "";
    display: table;
    clear: both;
}

h1{
  margin-top: 40px;
position: center;
font-family: 'Roboto', sans-serif;
font-weight: 600;
font-size: 30px;
text-align: center;

}
hr {
  max-width: 50px;
  border-width: 3px;
  border-color: #06d7d9;
  margin-bottom: 50px;
}

.text3 {
  color: auto;
  margin-left: 40px;
  margin-top: 40px;
  letter-spacing: 1px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  padding-bottom: 80px;
  text-align: justify;
}
.medalje{
  padding-bottom: 100px;
}
.text1 {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 19px;
  line-height: 1.3em;
  font-weight:lighter;
  letter-spacing: 0px;
  text-transform:none;
}
.name{
    font-size: 40px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    letter-spacing: -1px;
    line-height: 45px;
    padding-bottom: 30px;
}
.name span{
    font-size: 40px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    letter-spacing: -1px;
    line-height: 40px;
    padding-bottom: 30px;
    padding-left: 100px;
}


.info-overflow{
  transform: translateZ(0);
    height: 672px;
    overflow: hidden;
    position: absolute;
    width: 100%;
    z-index: 4;
}

.info-dash{
    background-size: 100% auto;
    bottom:  0px;
    height: 492px;
    top: auto;
    width: 510px !important;
    background:url('https://image.ibb.co/bKYS2b/gradient.png')right top no-repeat;
    transform: translateX(0);
    left: 0;
    padding:30px;
    position: absolute;
    z-index: 4;
}
.info-dash:after{
  content: "";
  display: block;
  height: 150px;
  width: 100%;
}

div{
  display: block;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;;
  margin: 0;
  padding: 0;
}
*{
  text-rendering: geometricPrecision;
  box-sizing: border-box;
  outline: 0;
  margin:0;
  padding: 0;
}

.drugi_dio{
  margin-left: 25px;
  width: 80%;
  float: left;
  margin-top: 15px;
  padding: 20px;
  padding-right: 0px;
}

.medalje{
  float: none;
  width: 100%;
}

ul.tab {
    list-style-type: none;
    overflow: hidden;
    border: 	#182627;
    background-color: rgba(39, 39, 39, 0.7); /* ili ova boja? #2A3C41 	*/
    font-family: 'GillSans';
    width: 100%;
    padding: 0px;
    margin-top:0px;
    bottom: 2%;
    position: absolute;

}

/* poravn
anje u listi */
ul.tab li {

}

/* stil za elemente liste */
ul.tab li div {
    display: block;
    color: #4b799b;

    padding: 16px 20px;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.3s;
    font-family: 'Roboto', sans-serif;
    text-transform:uppercase;
    color: #4b799b;
    font-weight: 700;
    font-size: 18px;
    text-decoration: none;
    float: left;
    width: 33%;
}
ul.tab li div:nth-of-type(1){
  text-align: right;
}
ul.tab li div:nth-of-type(2){
  text-align: center;
}
ul.tab li div:nth-of-type(3){
  text-align: left;
}

/* hover */
ul.tab li div:hover {
    background-color: #b3b3b3; /*#999999;*/
    cursor: pointer;
}

/* hover za trenutni na koji kliknemo */
ul.tab li div:focus, .active {
    background-color: #80bfff;
}

/* sadrzaj izabrane godine */
.tabcontent {
    display: none;
    padding: 20px 12px;
    float:center;
    font-family: 'Roboto',sans-serif;
}

.okvir {
  list-style-type: none;
  overflow: hidden;
  border: 	#182627;
  background-color: #303A3C;
  width:150px;
  padding: 0px;
  margin-top:12px;
  height:100%;
}

h1{
  text-align: center;
  margin: 5px;
}

div.PrikazPlasmana{
  width: 60%;
  height: auto;
  display:table;
  margin: 0 auto;
}

 figure.prikaz {
   color: #fff;
   position: relative;
   float: left;
   overflow: hidden;
   margin: 2%;
   max-width: 320px;
   width: 100%;
   height: 180px;
   background-color: #ffffff;
   color: #000000;
   text-align: left;
   box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
 }

 #prikazPrvog{
   float: none;
   display: table;
   margin: 0 auto;

 }
 #prikazDrugog{
   float: left;
 }
 #prikazTreceg{
   float: left;
   margin-top: 35px;
 }
 div.text{
   float: left;
   width: 75%;
   margin:0;
   height: auto;
   padding-bottom:20px;
 }
 div.media{
   float: right;
   width: 25%;
   margin:0;
 }
div.takmicari{
  margin: 6px;
  font-size: 20px;
  font-weight: 400;
  font-family: 'Roboto',sans-serif;
}
 h2.NaslovTeme{
   margin: 10px;
   text-align: left;
   font-weight: 500;
   font-family: 'Roboto',sans-serif;
 }
 .medaljeimg{
   flex:0 auto;
   float: right;
   height: 100px;
   margin: 10px 0 25px 0px;
   width: 80px;
 }


/*picture*/
 div{
   display: block;
 }
 .picture{
 margin-top: 0px;
 position: relative;
 height: 550px;
 overflow: hidden;
 }
 .about-us-photo {
     min-width: 100%;
     max-width: 110%;
     vertical-align: middle;
   }

 .title {
     margin-top: 0;
     line-height: 1em;
     padding-top: 180px;
     padding-bottom: 0px;
     font-family: 'Roboto',sans-serif;
     font-size: 31px;
     font-weight: 400;
     color: #fff;
     text-transform: uppercase;
     letter-spacing: .2em;
     text-shadow: 0 0 20px #000;
     margin-bottom: 0;
 }
 .center{
 margin-left: auto!important;
     margin-right: auto!important;
     text-align: center;
     float: none;
   }

 .image-overlay {
     position: absolute;
     display: block;
     width: 100%;
     top: 0;
     left: 0;
     height: 100%;
     background-color: rgba(39, 39, 39, 0.7);
     padding-top: 120px;
 }
 .triangle-wrapper {
     height: 25px;
     width: 100%;
     bottom: 0px;
     position: absolute;
     display: block;
 }


 #left{
   border-bottom: 23px solid #ffffff;
   width: 50%;
     bottom: 0;
     background-color: transparent;
     position: absolute;
     border-right: 35px solid transparent;
     left: 0;
 }
 #right{
   border-bottom: 23px solid #ffffff;
       right: 0;
       width: 50%;
     bottom: 0;
     background-color: transparent;
     border-left: 35px solid transparent;
     position: absolute;
 }

 @media screen and (min-width: 1500px) {


 }
 @media screen and (max-width: 680px){

   ul.tab {
       list-style-type: none;
       overflow: hidden;
       border: 	#182627;
         background-color: rgba(39, 39, 39, 0.7);  /* ili ova boja? #2A3C41 	*/
       font-family: 'GillSans';
       width:100%;
       position: absolute;
       bottom: 2%;
       padding: 0px;
       margin-top:12px;
   }
   .title{
     font-size: 18px;
     padding-top: 0px;
     margin-top: 0;
   }

   .picture{
     height: 300px;
   }


   /* stil za elemente liste */
   ul.tab li div {
       display: block;
       color: #4b799b;
       text-align: center;

       text-decoration: none;
       transition: 0.3s;
       font-size: 14px;
       width: 33%;
       font-family: 'Roboto',sans-serif;
       font-style: 500;
       line-height: 1.3em;
       letter-spacing: 0.8px;
   }

}
@media screen and (max-width: 920px){


}

@media only screen and (min-width: 1024px) and (max-width: 1366px)
{
}

@media only screen and (max-width: 1030px) {


}

@media only screen and (max-width: 720px) {

}
@media only screen and (max-width: 370px){

  ul.tab {
      list-style-type: none;
      overflow: hidden;
      border: 	#182627;
        background-color: rgba(39, 39, 39, 0.7);  /* ili ova boja? #2A3C41 	*/
      font-family: 'GillSans';
      width:100%;
      position: absolute;
      bottom: 2%;
      padding: 0px;
      margin-top:12px;
  }
  .title{
    font-size: 18px;
    padding-top: 0px;
    margin-top: 0;
  }

  .picture{
    height: 260px;
  }


  /* stil za elemente liste */
  ul.tab li div {
      display: block;
      color: #4b799b;
      text-align: center;

      text-decoration: none;
      transition: 0.3s;
      font-size: 14px;
      width: 33%;
      font-family: 'Roboto',sans-serif;
      font-style: 500;
      line-height: 1.3em;
      letter-spacing: 0.8px;
  }
}
