<!--<div id="event" class="eventpicture animation-on">

<div class="info-overflow">
<div class="info-dash">
    <div class="info-inner">
      <div class="event-info">
        <div class="name">
          Elektrijada
          </div>
          <p class="text1">Međunarodni susreti studenata elektrotehnike, poznatiji kao Elektrijada, tradicionalno se održavaju skoro pola stoljeća na prostorima bivše Jugoslavije i predstavljaju najveći godišnji skup studenata elektrotehnike u jugoistočnoj Evropi, a i šire. Elektrijada kroz svoje programe širi i populariše sve sfere aktivnog studentskog života – naučni rad, takmičenja u znanju, sportska takmičenja, edukativne programe i zabavu.
          </div>

    </div>
</div>
</div>
</div>-->
<div class="picture">
  <img class="about-us-photo" src="assets/images/elektrijadaslika1.jpg">
  <div class="image-overlay">

    <div class="content">
      <div class="title center" style="color: white; text-shadow: 1px 1px 10px rgb(84, 84, 84);">MEĐUNARODNI DOGAĐAJI</div>"
    </div>

  </div>
</div>

<div class="prvi">
<ul class="tab">

  <li >
    <div>Historija</div>
    <div>Elektrijada</div>
    <div>Stem Games</div>
  </li>
</ul>
</div>

<app-sponzori></app-sponzori>
<app-footer></app-footer>
