@import url(https://fonts.googleapis.com/css?family=Raleway:400,600,700,800);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
div.vijesti-screen {
  display: table;
  margin: 0 auto;
  width: 65.2%;
  margin-top: 5px;
  padding: 0px;
  padding-top: 40px;
}


figure.vijest {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  position: relative;
  float: left;
  overflow: hidden;
  margin: 2%;
  min-width: 220px;
  max-width: 260px;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  color: #000000;
  text-align: left;
  font-size: 16px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
figure.vijest * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
figure.vijest img {
  max-width: 100%;
  vertical-align: top;
  width: 100%;
  height: 100%;
  margin:0;
  transition: all 0.5s ease;
}
figure.vijest figcaption {
  padding-top: 25px;
  position: relative;
}
figure.vijest .datum {
  font-family: 'Roboto', sans-serif;
  background-color: #5385ac;
  top: 16px;
  color: #fff;
  left: 16px;
  min-height: 60px;
  min-width: 60px;
  position: absolute;
  text-align: center;
}
figure.vijest .datum {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
}
figure.vijest .datum span {
  display: block;
  line-height: 30px;
}
figure.vijest .datum .mjesec {
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0.1);
}
figure.vijest h3,
figure.vijest p {
  padding: 0;

  width: 100%;
  min-height:20px;
}
figure.vijest h3 {
  margin-top: 0px;
  margin-bottom: 5px;
  margin-left: 8px;
  display: inline-block;
  font-weight: 600;
  color: #4b799b;
  text-transform: uppercase;
  font-size: 23px;
}
figure.vijest p {
  font-family: 'Roboto', sans-serif;
  font-size: 0.8em;
  margin-bottom: 12px;
  margin-right: 10px;
  margin-left: 8px;
  margin-top: 0px;
  line-height: 1.3em;
  font-weight:500;
  height: 100px;
}
figure.vijest button {
  border: medium none;

  -moz-box-shadow: inset 0px 1px 0px 0px #4D4D4D;
	-webkit-box-shadow: inset 0px 1px 0px 0px #4D4D4D;
	box-shadow: inset 0px 1px 0px 0px #4D4D4D;
	background-color: #4D4D4D;
	border: 1px solid #4D4D4D;
	display: inline-block;
	cursor: pointer;
	color: #FFFFFF;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	font-weight: 400;
	margin-left:8px;
  margin-bottom: 8px;
	padding: 8px 8px;
	text-decoration: none;
	text-transform: uppercase;
	border-radius: 4px;
}
figure.vijest:hover img {
  transform: scale(1.1);
}
figure.vijest:hover button {
  background:linear-gradient(to bottom, #666666 5%, #808080 100%);
	background-color:#666666;
}






figcaption{
  width:90%;
}





div{
  display: block;
}
.picture{
margin-top: 0px;
position: relative;
height: 400px;
overflow: hidden;
}
.about-us-photo {
    min-width: 90%;
    max-width: 100%;
}
img{
  vertical-align: middle;
}
.title {
    margin-top: 0;
    line-height: 1em;
    padding-top: 200px;
    padding-bottom: 0px;
    font-family: 'GillSans';
    font-size: 31px;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .2em;
    text-shadow: 0 0 20px #000;
    margin-bottom: 0;
}
.center{
margin-left: auto!important;
    margin-right: auto!important;
    text-align: center;
    float: none;
  }

.image-overlay {
    position: absolute;
    display: block;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    background-color: rgba(39, 39, 39, 0.7);
    padding-top: 120px;
}
.triangle-wrapper {
    height: 25px;
    width: 100%;
    bottom: 0px;
    position: absolute;
    display: block;
}


#left{
  border-bottom: 23px solid #ffffff;
  width: 50%;
    bottom: 0;
    background-color: transparent;
    position: absolute;
    border-right: 35px solid transparent;
    left: 0;
}
#right{
  border-bottom: 23px solid #ffffff;
      right: 0;
      width: 50%;
    bottom: 0;
    background-color: transparent;
    border-left: 35px solid transparent;
    position: absolute;
}















@media only screen and (max-width: 1400px){
  div.vijesti-screen{
    min-width: 0;
    margin-top: 0px;
    padding-bottom: 20px;
    min-width: 50%;
    width:66%;
  }
  figure.vijest{
    margin-left: 20px;
    margin-bottom: 40px;
    display: inline-block;
  }
}

@media only screen and (max-width: 1030px){
  div.vijesti-screen{
    width:60%;
    padding: 0px;
    margin:0px auto;
    display: table;
    margin-top: 40px;
  }
  figure.vijest{
    margin-bottom: 40px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 0px;
    display: inline-block;
  }
}

@media only screen and (max-width: 920px){
  div.vijesti-screen{
    width:80%;
    padding: 0px;
    margin:0px auto;
    display: table;
    margin-top: 40px;
  }
  figure.vijest{
    margin-bottom: 40px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 0px;
    display: inline-block;
  }
}

@media only screen and (max-width: 800px){
  div.vijesti-screen{
    width:80%;
    padding: 0px;
    margin:0px auto;
    display: table;
    margin-top: 40px;
  }
  figure.vijest{
    margin-bottom: 40px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 0px;
    display: inline-block;
  }
}

@media only screen and (max-width: 420px){
  div.vijesti-screen{
    width:65%;
    padding: 0px;
    margin:0px auto;
    display: table;
    margin-top: 40px;
  }
  figure.vijest{
    margin-bottom: 40px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
    display: inline-block;
  }
}

@media only screen and (max-width: 390px){
  div.vijesti-screen{
    width:65%;
    padding: 0px;
    margin:0px auto;
    display: table;
    margin-top: 40px;
  }
  figure.vijest{
    margin-bottom: 40px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
    display: inline-block;
  }
}

@media only screen and (max-width: 370px){
  div.vijesti-screen{
    width:65%;
    padding: 0px;
    margin:0px auto;
    display: table;
    margin-top: 40px;
  }
  figure.vijest{
    margin-bottom: 40px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
    display: inline-block;
  }
}
@media only screen and (min-width: 1700px){


}
@media only screen and (max-width: 1367px ){
  div.vijesti-screen{
    min-width: 0;
  }

}
