<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="picture">
  <div class="info-overflow">

  </div>
</div>

<h1> Vijesti </h1>
<hr class="primary">
<div class="vijesti-screen">

<figure class="vijest" *ngFor="let i of events">
  <img src={{i.slika}} class="imgs" >
  <div class="datum"><span class="dan">{{i.dan}}</span><span class="mjesec">{{i.mjesec}}</span></div>
  <figcaption>
    <h3>{{i.naziv}}</h3>
    <p>
    {{i.kratkiTekst}}
    </p>
    <button (click)="onClick(i.id)" class="button">Pročitaj više</button>
  </figcaption>
</figure>

</div>
<app-footer></app-footer>
