<!DOCTYPE html>
<html>
<head>
	<title>VIJESTI</title>
</head>

<div id=vijesti >
<div class="komentari" >
			<div class=fds >		
				<p>
					Steleks je matično udruženje studenata Elektrotehničkog fakulteta u Sarajevu.
Osnovan je 22.11. 1968 godine kao udruženje građana.
Stvoren je da bi pomogao studentima pri ostvarivanju njihovih osnovnih prava tokom studija.
U okviru Steleksa organizovane su razne aktivnosti edukativnog, kulturnog i sportskog sadržaja.
				</p>
			</div>
			<div class=fds>
				<p>
					Vijest2
				</p>
			</div>
			<div class=fds>
				<p>
					Vijest3
				</p>
		
			</div>
</div>
	<div class="komentari1">
		<div class=fds>
				<p>
					Vijest4
				</p>
	    </div>
	    <div class=fds>
				<p>
					Vijest5
				</p>
				</div>
				<div class=fds>
				<p>
					Vijest6
				</p>
			</div>
			
		</div>
	<div class="komentari2">
		<div class=fds>
				<p>
					Vijest7
				</p>
	    </div>
	    <div class=fds>
				<p>
					Vijest8
				</p>
				</div>
				<div class=fds>
				<p>
					Vijest9
				</p>
			</div>
			
		</div>
</div>
<body>

</body>
</html>