<div class="uo">

  <div class="wrapper"  >
    <img [src]="fuad_hajdarevic" alt=" nece da se ucita"  class="image"  style="width:100%;"  />
    <div class="middle">
      <div class="text">Fuad Hajdarević</div>
    </div>
  </div>

  <div class="wrapper"  >
  <img [src]="amina_aljicevic" alt=" nece da se ucita"  class="image"   style="width:100%;"   />
  <div class="middle">
    <div class="text">Amina Aljićević</div>
  </div>
  </div>

  <div class="wrapper"  >
    <img [src]="mehmed_kadric" alt="nece da se ucita"  class="image"  style="width:100%;"   />
    <div class="middle">
      <div class="text">Mehmed Kadrić</div>
    </div>
  </div>

  <div class="wrapper"  >
  <img [src]="harun_muhic" alt=" nece da se ucita" class="image"  style="width:100%;"    />
  <div class="middle">
    <div class="text">Harun Muhić</div>
  </div>
  </div>

  <div class="wrapper"  >
    <img [src]="miran_hadziomerovic" alt="nece da se ucita"  class="image"   style="width:100%;"   />
    <div class="middle">
      <div class="text">Miran Hadžiomerović</div>
    </div>
  </div>

  <div class="wrapper"  >
  <img [src]="nur_osmanbegovic" alt=" nece da se ucita"  class="image"  style="width:100%;"    />
  <div class="middle">
    <div class="text">Nur Osmanbegović</div>
  </div>
  </div>

  <div class="wrapper"  >
    <img [src]="adis_dedic" alt="nece da se ucita"  class="image"  style="width:100%;"   />
    <div class="middle">
      <div class="text">Adis Dedić</div>
    </div>
  </div>

  <div class="wrapper"  >
  <img [src]="osman_merhemic" alt=" nece da se ucita"  class="image"  style="width:100%;"   />
  <div class="middle">
    <div class="text">Osman Merhemić</div>
  </div>
  </div>


  <div class="wrapper"  >
    <img [src]="almin_repesa" alt="nece da se ucita"  class="image"  style="width:100%;"   />
    <div class="middle">
      <div class="text">Almin Repeša</div>
    </div>
  </div>

  <div class="wrapper"  >
  <img [src]="edina_osmanspahic" alt=" nece da se ucita"  class="image"  style="width:100%;"   />
  <div class="middle">
    <div class="text">Edina Osmanbegović</div>
  </div>
  </div>

  <div class="wrapper">
    <img [src]="erol_terovic" alt="nece da se ucita"  class="image"   style="width:100%;"   />
    <div class="middle">
      <div class="text">Erol Terović </div>
    </div>
  </div>

</div>
