body {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0;
}
h1{
  margin-top: 40px;
position: center;
font-family: 'Roboto', sans-serif;
font-weight: 700;
font-size: 50px;
text-align: center;

}
.Banner__title {
    font-family: 'GillSans';
    font-size: 31px;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .2em;
    text-shadow: 0 0 20px #000;
    text-align: center;
    vertical-align: middle;
    line-height: 1000px;
    z-index: 5;
    position: relative;

}


hr {
  max-width: 70px;
  border-width: 3px;
  border-color: #06d7d9;
}

/*.picture{
min-height: 600px;
background-image: url('../../assets/images/upravni.jpg');

  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position:center center;

}*/
.info-overflow{
  transform: translateZ(0);
    height: 600px;
    overflow: hidden;
    position: absolute;
    width: 100%;
    z-index: 4;

}
.info-overflow::before{
  position: absolute;
  top: 0;
  left: 0;
padding-top: 80px;
  z-index: 3;
  width: 100%;
  height: 100%;
  display: block;
  content: "";
  background: linear-gradient(rgba(0, 47, 64, 0) 0%,rgba(0, 47, 64, 0) 50%, #002f40 100%);
}

td {
    padding: 5px;
    text-align: left;
    border-collapse: collapse;
}

tr {
  display: inline-block;
  margin: 1px;
  margin-top: 1px;
  margin-bottom: 0px;
}

table {
  background: white;
  width: 59%;
  margin:0 auto;
  margin-top: 60px;
  display: block;
  margin-bottom: 150px;
  font-family: 'Roboto', sans-serif;
}

.divider {
  border-bottom: 1px solid #d9d9d9;
  opacity: 0.5;
}

p {
  margin-bottom: 40px;
}

.slova{
  padding-top: 20px;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0.02em;
}


.slova2{
  padding-top: 20px;

  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.07em;
}



.cards {
  width: 240px;
	height: 340px;
	position: relative;
	overflow: hidden;
	float: left;

}
.cards:hover {
  cursor: pointer;
}
.cards:hover .divider {
  opacity: 0.5;
}
.cards:hover .info {
  transition: all 1s ease;
  bottom: 0;
}
.cards:hover .icon {

}
.cards .info {
  position: absolute;
		bottom: -100px;
		left: 0;
		right: 0;
		padding: 0 10px;

		color: #fff;
		font-family: 'Roboto', sans-serif;

		background-image: radial-gradient(ellipse at center, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.9) 100%);

}
.cards .icon {

}
span{
  position: relative;
			top: 10px;
			display: block;
			width: 25%;
			height: 5px;
      background-color: #4b799b;
			border-radius: 15px;
			/*background-image: linear-gradient(to left, rgba(241,231,103,1) 0%, rgba(231,221,93,1) 100%);*/
}

.cards .lead {

}

.image{
  width: 100%;
		height: 100%;
}











div{
  display: block;
}
.picture{
margin-top: 0px;
position: relative;
height: 500px;
overflow: hidden;
}
.about-us-photo {
    min-width: 90%;
    max-width: 100%;
}
img{
  vertical-align: middle;
}
.title {
    margin-top: 0;
    line-height: 1em;
    padding-top: 280px;
    padding-bottom: 0px;
    font-family: 'GillSans';
    font-size: 31px;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .2em;
    text-shadow: 0 0 20px #000;
    margin-bottom: 0;
}
.center{
margin-left: auto!important;
    margin-right: auto!important;
    text-align: center;
    float: none;
  }

.image-overlay {
    position: absolute;
    display: block;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    background-color: rgba(39, 39, 39, 0.7);
    padding-top: 120px;
}
.triangle-wrapper {
    height: 25px;
    width: 100%;
    bottom: 0px;
    position: absolute;
    display: block;
}


#left{
  border-bottom: 23px solid #ffffff;
  width: 50%;
    bottom: 0;
    background-color: transparent;
    position: absolute;
    border-right: 35px solid transparent;
    left: 0;
}
#right{
  border-bottom: 23px solid #ffffff;
      right: 0;
      width: 50%;
    bottom: 0;
    background-color: transparent;
    border-left: 35px solid transparent;
    position: absolute;
}










@media screen and (max-width: 1130px) {
  table{
    margin-top: 50px;
    width: 77%;
  }
}

@media screen and (max-width: 920px) {
  table{
    margin-top: 50px;
    width: 69%;
  }
}

@media screen and (max-width: 600px) {
  table{
    margin:0px auto;
    display: table;
    margin-top: 50px;
    width: 59%;
  }
}
