<div class="uo">

  <div class="wrapper" style="background-color:#f4ed2f">
    <img [src]="fuad_hajdarevic" alt=" nece da se ucita" style="width:128px;height:128px;" />
  </div>

  <div class="wrapper" style="background-color:#8bc63e;">
  <img [src]="amina_aljicevic" alt=" nece da se ucita" style="width:128px;height:128px;" />
  </div>

  <div class="wrapper" style="background-color:#f4ed2f;">
    <img [src]="mehmed_kadric" alt="nece da se ucita" style="width:128px;height:128px;" />
  </div>

  <div class="wrapper" style="background-color:#8bc63e;">
  <img [src]="harun_muhic" alt=" nece da se ucita" style="width:128px;height:128px;" />
  </div>

  <div class="wrapper" style="background-color:#f4ed2f;">
    <img [src]="miran_hadziomerovic" alt="nece da se ucita" style="width:128px;height:128px;" />
  </div>

  <div class="wrapper" style="background-color:#8bc63e;">
  <img [src]="nur_osmanbegovic" alt=" nece da se ucita" style="width:128px;height:128px;" />
  </div>

  <div class="wrapper" style="background-color:#f4ed2f;">
    <img [src]="adis_dedic" alt="nece da se ucita" style="width:128px;height:128px;" />
  </div>

  <div class="wrapper" style="background-color:#8bc63e;">
  <img [src]="osman_merhemic" alt=" nece da se ucita" style="width:128px;height:128px;" />
  </div>

  <div class="wrapper" style="background-color:#f4ed2f;">
    <img [src]="almin_repesa" alt="nece da se ucita" style="width:128px;height:128px;" />
  </div>

  <div class="wrapper" style="background-color:#8bc63e;">
  <img [src]="edina_osmanspahic" alt=" nece da se ucita" style="width:128px;height:128px;" />
  </div>

  <div class="wrapper" style="background-color:#f4ed2f;">
    <img [src]="erol_terovic" alt="nece da se ucita" style="width:128px;height:128px;" />
  </div>

</div>
