<div class="wrapper" style="background-color:#f4ed2f"> <!--//zuti dio lijevo -->
  <!--<div class="test"> Ne znam sto se ovaj dio ne vidi kada se makne komentar
      <p class="eventname">Naziv</p> <p class="eventshorttext">HAAALP !!!</p>
  </div> -->
  <img [src]="clan1" alt=" nece da se ucita" style="width:128px;height:128px;" />
</div>

<div class="wrapper" style="background-color:#8bc63e;"><!-- //zeleni dio-->
  <!--<div class="test"> Ne znam sto se ovaj dio ne vidi kada se makne komentar
      <p class="eventname">Naziv</p> <p class="eventshorttext">omg she is crazy so much omg omg omg </p>
</div>-->
<img [src]="clan2" alt=" nece da se ucita" style="width:128px;height:128px;" />
</div>


<div class="wrapper" style="background-color:#f4ed2f;"><!-- //zuti dio desno-->
  <!--<div class="test"> Ne znam sto se ovaj dio ne vidi kada se makne komentar
    <p class="eventname">Naziv</p>
      <p class="eventshorttext">amina bi dodala tesksta da ima amina tiranin</p>
</div>-->
<div>
  <img [src]="sefica" alt="sefica nece da se ucita" style="width:128px;height:128px;" />
  <p> upravni odbor works!</p>
</div>
</div>
