<div id="event" class="eventpicture animation-on">

<div class="info-overflow">
<div class="info-dash">
    <div class="info-inner">
      <div class="event-info">
        <div class="name">
          Steleksijada
        </div>
        <div class="place">
          Sarajevo, BiH
        </div>
        <div class="date">
          April   06 - 07  2018
        </div>
      </div>
    </div>
</div>
</div>

</div>

<app-tekst></app-tekst>


<app-sponzori> </app-sponzori>
<app-footer></app-footer>
