<body>
<div class="prijava">
<div class="form-content">

<form>
    <fieldset class="groupBox">
      <h2>Prijava za superadmina</h2>

        <input [(ngModel)]="Username" type="text" placeholder="Username..." id="username" name="username" style="margin-top:50px">
      <input type="text" placeholder="Password..." [(ngModel)]="Password" id="password"  name="password" style="margin-bottom:20px">
      <a href="http://localhost:4200/admin">
  <input type="submit" value="Prijava" (click)="print()" />
</a>
  </fieldset>
</form>
</div>
</div>
</body>
