<div class="elektrijada">
<div class="form-content">
<form>
  <h2>REGISTRACIJA</h2>
  <fieldset class="groupBox">
  <input type="text" placeholder="Ime" required>
  <input type="text" placeholder="Prezime" required>
  <input type="text" placeholder="Email" required>
</fieldset>
<fieldset class="groupBox">
  <input type="text" placeholder="Fakultetski mail" required>
  <input type="text" placeholder="Broj telefona" required>
  <input type="text" placeholder="Broj indeksa" required>
</fieldset>
  <fieldset class="groupBox" style="margin-top:5px;">
  <input type="text" placeholder="Korisničko ime" required>
  <input type="text" placeholder="Lozinka" required>
  <input type="text" placeholder="Potvrdi lozinku" required>
</fieldset>
<fieldset class="groupBox" style="margin-top:5px;">
  <select required class="combobox">
  <option value="" disabled selected>Odsjek</option>
  <option value="RI">Računarstvo i informatika</option>
  <option value="AE">Automatika i elektronika</option>
  <option value="EE">Energetika</option>
  <option value="TK">Telekomunikacije</option>
</select>
  <select required class="combobox">
  <option value="" disabled selected>Godina studija</option>
  <option value="1">1 BSc</option>
  <option value="2">2 BSc</option>
  <option value="3">3 BSc</option>
  <option value="1M">1 MSc</option>
  <option value="2M">2 MSc</option>
</select>
<input type="file" style="display: none" #file>
<button class="button2" (click)="file.click()"> Dodaj sliku </button>
</fieldset>
  <input type="button" value="Registruj se" />
</form>
</div>
</div>
