<div class="elektrijada">
<div class="form-content">
<div>
  <h2>REGISTRACIJA</h2>
  <fieldset class="groupBox">
  <input type="text" [(ngModel)]="ime" name="ime" placeholder="Ime" required>
  <input type="text" [(ngModel)]="prezime" name="prezime" placeholder="Prezime" required>
  <input type="text" [(ngModel)]="email" name="email" placeholder="Email" required>
</fieldset>
<fieldset class="groupBox">
  <input type="text" [(ngModel)]="emailFakultet" name="emailFakultet" placeholder="Fakultetski mail" required>
  <input type="text" [(ngModel)]="brojTelefona" name="brojTelefona" placeholder="Broj telefona" required>
  <input type="text" [(ngModel)]="brojIndeksa" name="brojIndeksa" placeholder="Broj indeksa" required>
</fieldset>
  <fieldset class="groupBox" style="margin-top:5px;">
  <input type="text" [(ngModel)]="korisnickoIme" name="korisnickoIme" placeholder="Korisničko ime" required>
  <input type="text" [(ngModel)]="lozinka" name="lozinka" placeholder="Lozinka" required>
  <input type="text" [(ngModel)]="lozinka2" name="lozinka2" placeholder="Potvrdi lozinku" required>
</fieldset>
<fieldset class="groupBox" style="margin-top:5px;">
  <select required class="combobox">
  <option value="" disabled selected>Odsjek</option>
  <option value="RI">Računarstvo i informatika</option>
  <option value="AE">Automatika i elektronika</option>
  <option value="EE">Energetika</option>
  <option value="TK">Telekomunikacije</option>
</select>
  <select required class="combobox">
  <option value="" disabled selected>Godina studija</option>
  <option value="1">1 BSc</option>
  <option value="2">2 BSc</option>
  <option value="3">3 BSc</option>
  <option value="1M">1 MSc</option>
  <option value="2M">2 MSc</option>
</select>
<input type="file" name="pic" accept="image/*">
</fieldset>
  <div class="error" *ngIf="errorMessage!=''">{{errorMessage}}</div>
  <div class="poruka" *ngIf="messageUspjesno!=''">{{messageUspjesno}}</div>
  <button (click)="print()">Registruj se</button>
</div>
</div>
</div>
