<body>
<div class="elektrijada">
<div class="form-content">
<form>
  <h2>Elektrijada</h2>
  <fieldset class="groupBox1">
    <input type="text" name="year" placeholder="Godina"/>
    <textarea placeholder="About" onkeyup="adjust_textarea(this)"></textarea>
</fieldset>
<fieldset class="groupBox">
  <legend >Prvo mjesto</legend>
 <input type="text" name="faculty1" placeholder="Fakultet"/>
</fieldset>

<fieldset class="groupBox">
  <legend>Drugo mjesto</legend>
  <input type="text" name="faculty2" placeholder="Fakultet"/>
</fieldset>

<fieldset class="groupBox">
  <legend>Trece mjesto</legend>
  <input type="text" name="faculty3" placeholder="Fakultet"/>
</fieldset>
 <fieldset class="groupBox2">
  <input type="button" value="Dodaj" />
</fieldset>
</form>
</div>
</div>
</body>
