<div id="forma" class="elektrijada">
<div class="form-content">
<h2>Elektrijada</h2>
<form>
  <input type="year" name="field1" placeholder="Godina"/>
  <textarea placeholder="About" onkeyup="adjust_textarea(this)"></textarea>

  <li>
    <fieldset name="Prvo mjesto"class="field-style field-split align-left">
      <legend >Prvo mjesto</legend>
     <input type="prvo" name="field2" placeholder="Fakultet"/>
    </fieldset>
    <fieldset name="Drugo mjesto"class="field-style field-split align-left">
      <legend>Drugo mjesto</legend>
      <input type="drugo" name="field3" placeholder="Fakultet"/>
    </fieldset>
    <fieldset name="Trece mjesto"class="field-style field-split align-left">
      <legend>Treće mjesto</legend>
     <input type="trece" name="field4" placeholder="Fakultet"/>

    </fieldset>

</li>
<input type="button" value="Dodaj" />
</form>
</div>

</div>
