<body>
<div class="elektrijada">
<div class="form-content">
<form>
  <h2>Elektrijada</h2>
  <fieldset class="groupBox1">
    <input type="text" [(ngModel)]="naziv" name="naziv" placeholder="Naziv"/>
    <input type="text" [(ngModel)]="godina" name="godina" placeholder="Godina"/>
    <textarea [(ngModel)]="sadrzaj" name="sadrzaj" placeholder="About" onkeyup="adjust_textarea(this)"></textarea>
</fieldset>
<fieldset class="groupBox">
  <legend >Prvo mjesto</legend>
 <input type="text" [(ngModel)]="faculty1" name="faculty1" placeholder="Fakultet"/>
</fieldset>

<fieldset class="groupBox">
  <legend>Drugo mjesto</legend>
  <input type="text" [(ngModel)]="faculty2" name="faculty2" placeholder="Fakultet"/>
</fieldset>

<fieldset class="groupBox">
  <legend>Trece mjesto</legend>
  <input type="text" [(ngModel)]="faculty3" name="faculty3" placeholder="Fakultet"/>
</fieldset>
 <fieldset class="groupBox2">
  <input type="button" (click)="print()"  value="Dodaj" />
</fieldset>
</form>
</div>
</div>
</body>
