<div class="tab">
  <h1> Sifi 2012</h1>
<p class="text1">
  Lorem ipsum dolor sit amet, usu ne choro alterum graecis, choro malorum nam ut. Quo justo malis theophrastus ad. Vel ut mucius deterruisset, at solum nulla delenit duo. Vis ne simul scripta persius, cum utroque noluisse scaevola ut, ei per detracto eleifend electram. Id ius augue molestie. Cu simul appareat vivendum nec, reque persius sea ea, mea dicit tritani interesset et.
Usu ne civibus argumentum. Ut quo oratio delectus mnesarchum, ad labitur accusam mea, rebum tation feugiat eum ad. Duo ei erat melius. Vix no iuvaret dolorem salutandi, ei mel oportere democritum.
Vis soleat blandit signiferumque in, ut mel aliquip denique. Ad tempor pertinax gloriatur vim, minim omnium te sea. Tota postea voluptaria cu est, eam quem mentitum recusabo ut. Solet quaestio vis ut. Cu nam atomorum expetendis temporibus. Veri meis vim an, ad affert cetero vix. In his sadipscing contentiones, assum possit consulatu nec in.
Has te agam fugit praesent, magna exerci labores vis ea, noster inermis cu nec. Vel salutatus omittantur ei. Quo vitae primis principes no. Fugit primis vis ea, an equidem copiosae vis. Ut dicat latine vituperata vis. Ex vim soluta accusata.
Quidam saperet civibus ea his, his ad latine invenire similique. Tantas sadipscing at vel, te ius regione similique. An vix habeo dolor atomorum, quot propriae verterem cu vel. Ut appetere maluisset nam, et commodo volutpat vel, his ad nonumy omnium commune. Ea homero ornatus vix. Appetere incorrupte nam at, eu soleat eripuit adipisci nec. Choro interesset no nam, eum enim falli nusquam cu.
Lorem ipsum dolor sit amet, usu ne choro alterum graecis, choro malorum nam ut. Quo justo malis theophrastus ad. Vel ut mucius deterruisset, at solum nulla delenit duo. Vis ne simul scripta persius, cum utroque noluisse scaevola ut, ei per detracto eleifend electram. Id ius augue molestie. Cu simul appareat vivendum nec, reque persius sea ea, mea dicit tritani interesset et.
Usu ne civibus argumentum. Ut quo oratio delectus mnesarchum, ad labitur accusam mea, rebum tation feugiat eum ad. Duo ei erat melius. Vix no iuvaret dolorem salutandi, ei mel oportere democritum. Vis soleat blandit signiferumque in, ut mel aliquip denique. Ad tempor pertinax gloriatur vim, minim omnium te sea. Tota postea voluptaria cu est, eam quem mentitum recusabo ut. Solet quaestio vis ut. Cu nam atomorum expetendis temporibus. Veri meis vim an, ad affert cetero vix. In his sadipscing contentiones, assum possit consulatu nec in. Has te agam fugit praesent, magna exerci labores vis ea, noster inermis cu nec. Vel salutatus omittantur ei. Quo vitae primis principes no. Fugit primis vis ea, an equidem copiosae vis. Ut dicat latine vituperata vis. Ex vim soluta accusata.
<br>Ovdje mozete pogledati rezultate SIFI-ja:
</p>


<div class="experience-wrapper">

  <div class="experience1 scroll-up">
    <img src="https://image.ibb.co/hOUqKm/zlatna.jpg"  style="width:170px;height:200px;">
     <div class="overlay">
      <div class="text">Mujak Amila<br>
      <button class="button"><span>Otvori rad</span></button>
      </div>
  </div>
   </div>

   <div class="experience1 scroll-up">
     <img src="https://image.ibb.co/fkXSzm/srebrena.jpg"  style="width:170px;height:200px;">
      <div class="overlay">
     <div class="text">Zeljko Juric<br>
      <button class="button"><span>Otvori rad</span></button>
     </div>
   </div>
    </div>

   <div class="experience1 scroll-up">
     <img src="https://preview.ibb.co/kw6FkR/bronzana.jpg"  style="width:170px;height:200px;">
      <div class="overlay">
     <div class="text">Huse Fatkic<br>
      <button class="button"><span>Otvori rad</span></button>
     </div>
   </div>
    </div>

  </div>

</div>
