<div id="event" class="eventpicture animation-on">

<div class="info-overflow">
<div class="info-dash">
    <div class="info-inner">
      <div class="event-info">
        <div class="name">
          Sarajevo Innovations Festival
          </div>
          <p class="text1">Udruženje studenata Elektrotehničkog fakulteta Sarajevo “STELEKS” svake godine organizuje smotru studentskih radova pod nazivom Sarajevo Innovations Festival (“SIFI”).“SIFI” je odlična prilika da prezentirate svoje radove, razmijenite ideje, upoznate se sa vrsnim stručnjacima iz različitih oblasti, njihovim radovima i iskustvima, ali i sa budućim poslodavcima. </div>
    </div>
</div>
</div>
</div>
<div class="prvi">
<ul class="tab">
  <li *ngFor="let i of godineSifija;">
    <div (click)="f(i)">{{i}}</div>
  </li>
</ul>

</div>
<div class="drugi_dio">
<div class="text3" >
  <div>{{sadrzaj}} </div>
</div>
</div>

<div class="medalje">
<div class="PrikazPlasmana">
  <figure class="prikaz"id ="prikazPrvog" *ngIf="show==true">
  <div class="text">

      <h2 class="NaslovTeme">{{naziv1}}</h2>
      <div *ngFor="let i of ucesnici1;">
        <div class="takmicari"> {{i}}</div>
       </div>
    </div>

    <div class="media">
      <img src="assets/images/zlato.jpg" >
    </div>
    <a href="#"></a>
  </figure>
  <figure class="prikaz" id ="prikazDrugog" *ngIf="show==true">
  <div class="text">

      <h2 class="NaslovTeme">{{naziv2}}</h2>
      <div *ngFor="let j of ucesnici2;">
        <div class="takmicari">{{j}} </div>
        </div>
    </div>

    <div class="media">
      <img src="assets/images/srebro.jpg" >
    </div>
    <a href="#"></a>
  </figure>
<figure class="prikaz" id ="prikazTreceg" *ngIf="show==true">
  <div class="text">

    <h2 class="NaslovTeme">{{naziv3}}</h2>
    <div *ngFor="let k of ucesnici3;">
      <div class="takmicari">{{k}} </div>
      </div>
    </div>

    <div class="media">
      <img src="assets/images/bronza.jpg" >
    </div>
    <a href="#"></a>
  </figure>
</div>
</div>

<app-sponzori></app-sponzori>
<app-footer></app-footer>
