.eventpicture{
  min-height: 600px;
  background-image:url('../../assets/images/sifi.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment:fixed;
  background-position:center center;
  opacity: 0.9;
}
.info-overflow::before{
  position: absolute;
  top: 0;
  left: 0;

  z-index: 3;
  width: 100%;
  height: 100%;
  display: block;
  content: "";
  background: linear-gradient(rgba(0, 47, 64, 0) 0%,rgba(0, 47, 64, 0) 30%, #002f40 100%);
}
.info-inner{
  z-index: 2;
}
.info-inner::after{
    content: "";
    display: table;
    clear: both;
}


.text2 {
  color: auto;
  margin-left: 40px;
  margin-top: 30px;
  letter-spacing: 1px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 20px;
  padding-bottom: 200px;
}
.medalje{
  padding-bottom: 100px;
}
.text1 {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 19px;
  line-height: 1.3em;
  font-weight:lighter;
  letter-spacing: 0px;
  text-transform:none;
}
.name{
    font-size: 40px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    letter-spacing: -1px;
    line-height: 45px;
    padding-bottom: 30px;
}
.name span{
    font-size: 40px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    letter-spacing: -1px;
    line-height: 40px;
    padding-bottom: 30px;
    padding-left: 100px;
}


.info-overflow{
  transform: translateZ(0);
    height: 612px;
    overflow: hidden;
    position: absolute;
    width: 100%;
    z-index: 4;
}

.info-dash{
    background-size: 100% auto;
    bottom:  0px;
    height: 492px;
    top: auto;
    width: 510px !important;
    background:url('https://image.ibb.co/bKYS2b/gradient.png')right top no-repeat;
    transform: translateX(0);
    left: 0;
    padding:30px;
    position: absolute;
    z-index: 4;
}
.info-dash:after{
  content: "";
  display: block;
  height: 150px;
  width: 100%;
}

div{
  display: block;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;;
  margin: 0;
  padding: 0;
}
*{
  text-rendering: geometricPrecision;
  box-sizing: border-box;
  outline: 0;
}

.prvi{
  width: 10%;
  float: left;
  height: 100%;
}
.drugi_dio{
  margin-left: 25px;
  width: 85%;
  float: left;
  margin-top: 15px;

}

.medalje{
  float: none;
  width: 100%;
}

ul.tab {
    list-style-type: none;
    overflow: hidden;
    border: 	#182627;
    background-color: #2D3B3C;  /* ili ova boja? #2A3C41 	*/
    font-family: "Roboto", sans-serif;
    width:150px;
    padding: 0px;
    margin-top:12px;
    height: 100%;
}
/* poravnanje u listi */
ul.tab li {

}

/* stil za elemente liste */
ul.tab li div {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 20px;
    width: 150px;
    font-family: 'Roboto',sans-serif;
    font-style: 500;
    line-height: 1em;
    letter-spacing: 0px;
}

/* hover */
ul.tab li div:hover {
    background-color: #e6e6fa;
    cursor:
}

/* hover za trenutni na koji kliknemo */
ul.tab li div:focus, .active {
    background-color: #80bfff;
}

/* sadrzaj izabrane godine */
.tabcontent {
    display: none;
    padding: 20px 12px;
    float:center;
    font-family: 'Roboto',sans-serif;
}

.okvir {
  list-style-type: none;
  overflow: hidden;
  border: 	#182627;
  background-color: #303A3C;
  width:150px;
  padding: 0px;
  margin-top:12px;
  height:100%;
}

h1{
  text-align: center;
  margin: 5px;
}

div.PrikazPlasmana{
  width: 60%;
  height: auto;
  display:table;
  margin: 0 auto;
}

 figure.prikaz {
   color: #fff;
   position: relative;
   float: left;
   overflow: hidden;
   margin: 2%;
   max-width: 320px;
   width: 100%;
   height: 180px;
   background-color: #ffffff;
   color: #000000;
   text-align: left;
   box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
 }

 #prikazPrvog{
   float: none;
   display: table;
   margin: 0 auto;

 }
 #prikazDrugog{
   float: left;
 }
 #prikazTreceg{
   float: left;
   margin-top: 35px;
 }
 div.text{
   float: left;
   width: 75%;
   margin:0;
   height: auto;
   padding-bottom:20px;
 }
 div.media{
   float: right;
   width: 25%;
   margin:0;
 }
div.takmicari{
  margin: 6px;
  font-size: 20px;
  font-weight: 400;
  font-family: 'Roboto',sans-serif;
}
 h2.NaslovTeme{
   margin: 10px;
   text-align: left;
   font-weight: 500;
   font-family: 'Roboto',sans-serif;
 }
 img{
   flex:0 auto;
   float: right;
   height: 100px;
   margin: 10px 0 25px 0px;
   width: 80px;
 }
 @media screen and (min-width: 1500px) {
   .eventpicture{
     min-height: 790px;
   }
   .info-overflow{
     height: 802px;
   }
   .PrikazPlasmana{
     width: 40%;
   }
   #prikazPrvog{
     margin-left:250px;
   }


 }
 @media screen and (max-width: 680px) {
   .text1{
     width: 70%;
     font-size: 21px;
   }
   .name,.name span{
       font-size: 35px;
     }

   .info-dash{
     height: 500px;
   }



 }
 @media screen and (max-width: 720px) {

   figure{
     float: left;
     width:90%;
   }
   #prikazPrvog{
     padding-left: 0;
     margin-left: 10px;
     margin-bottom: 10px;
     float: left;
   }
   #prikazDrugog{
     padding-left: 0;
     margin-left: 10px;
     margin-bottom: 10px;
     float: left;
   }
   #prikazTreceg{
     padding-left: 0;
     margin-left: 10px;
     margin-top: 0;
     padding-top: 0;
     float: left;
   }
   .prikaz{
     padding-left: 0;
     margin-left: 10px;

     float: left;
   }
   .PrikazPlasmana{
     width:80%;

   }

   .text{
     padding-right: 80px;
   }



 }
 @media screen and (max-width: 680px){

 figure{
   float: left;
   width:90%;
 }
 #prikazPrvog{
   padding-left: 0;
   margin-left: 10px;
   margin-bottom: 10px;
   float: left;
 }
 #prikazDrugog{
   padding-left: 0;
   margin-left: 10px;
   margin-bottom: 10px;
   float: left;
 }
 #prikazTreceg{
   padding-left: 0;
   margin-left: 10px;
   margin-top: 0;
   padding-top: 0;
   float: left;
 }
 .prikaz{
   padding-left: 0;
   margin-left: 10px;

   float: left;
 }
 .PrikazPlasmana{
   width:80%;

 }

 .text{
   padding-right: 60px;

 }


}
@media screen and (max-width: 920px){

figure{
  float: left;
  width:90%;
}
#prikazPrvog{
  padding-left: 20;
  margin-left: 20px;
  margin-bottom: 10px;
  float: left;
}
#prikazDrugog{
  padding-left: 20;
  margin-left: 20px;
  margin-bottom: 15px;
  float: left;
}
#prikazTreceg{
  padding-left: 20;
  margin-left: 20px;
  margin-top: 0;
  padding-top: 0;
  float: left;
}
.prikaz{
  padding-left: 20;
  margin-left: 20px;

  float: left;
}
.PrikazPlasmana{
  width:80%;

}

.text{
  padding-right: 60px;

}
.text2{
  padding-left: 30px;

}
}

@media only screen and (min-width: 1024px) and (max-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 1.5) {
    figure{
      float: left;
      width:90%;

    }
    #prikazPrvog{
      padding-left: 20;
      margin-left: 20px;
      margin-bottom: 10px;
      float: left;
    }
    #prikazDrugog{
      padding-left: 20;
      margin-left: 20px;
      margin-bottom: 15px;
      float: left;
    }
    #prikazTreceg{
      padding-left: 20;
      margin-left: 20px;
      margin-top: 0;
      padding-top: 0;
      float: left;
    }
    .prikaz{
      padding-left: 20;
      margin-left: 20px;

      float: left;
    }
    .PrikazPlasmana{
      width:80%;

    }

    .text{
      padding-right: 60px;

    }
    .text2{
      padding-left: 30px;

    }
}
