.eventpicture{
  width: 100%;
  height: 662px;
  min-height: 650px;
  background-image:url('https://image.ibb.co/kMz9WR/final.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment:fixed;
  background-position:center center;
}
.info-overflow::before{
  position: absolute;
  top: 0;
  left: 0;

  z-index: 3;
  width: 100%;
  height: 100%;
  display: block;
  content: "";
  background: linear-gradient(rgba(0, 47, 64, 0) 0%,rgba(0, 47, 64, 0) 30%, #002f40 100%);
}
.info-inner{
  z-index: 2;
}
.info-inner::after{
    content: "";
    display: table;
    clear: both;
}
.event-info{
    color: #fff;
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-size: 46px;
    line-height: 1em;
    font-weight: bold;
    letter-spacing: -1px;
    text-transform: uppercase;

}
.name{
    font-size: 45px;
    letter-spacing: -1px;
    line-height: 40px;
}

.place,.date{
color: #fff;
font-size: 26px;
line-height: 1.2em;
font-family: 'Roboto Condensed';
font-weight: 400;
letter-spacing: -1px;
margin-bottom: 10px;
margin-top: 10px;
text-transform: uppercase;
}
*:before,*:after{
  box-sizing: border-box;
}
.info-overflow{
  transform: translateZ(0);
    height: 662px;
    overflow: hidden;
    position: absolute;
    width: 100%;
    z-index: 4;
}

.info-dash{
    background-size: 100% auto;
    bottom:  0px;
    height: 392px;
    top: auto;
    width: 510px !important;
    background:url('https://image.ibb.co/bKYS2b/gradient.png')right top no-repeat;
    transform: translateX(0);
    left: 0;
    padding:30px;
    position: absolute;
    z-index: 4;
}
.info-dash:after{
  content: "";
  display: block;
  height: 150px;
  width: 100%;
}

div{
  display: block;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;;
  margin: 0;
  padding: 0;
}
*{
  text-rendering: geometricPrecision;
  box-sizing: border-box;
  outline: 0;
}
