html{
  margin-top: 100px;
}
ul {
  padding:0;
   display: table;
   width: 90%;
   margin:20px auto;
   float: left;
   height: 100px;
 }
li { display:inline;}
    .tn{
 margin:5px 3px;
 box-shadow:#999 1px 1px 3px 1px;
 cursor: pointer
    }
.modal-content {
  width: 670px !important;
}
.traka{
  adding:0;
   display: table;
   width: 75%;
   margin:20px auto;
}
p {
   -webkit-margin-before: 5px !important;
   -webkit-margin-after: 5px !important;
}
h1{
  margin: auto;
  display: table;
  width: auto;
  padding-bottom: 10px;
}
.tn1{
  width: 19.5%;
  height: 150px;
  margin: 2px;
  transition: 0.1s;
}
.tn1:hover{
  transform: scale(1.08);
  transition: 0.15s;
}
.btn-back, .btn-forward{
	position:absolute;
	opacity:0.9;
	background-color:black;
	padding:10px;
	top:190;
	color:white;
	text-weight: bold;
	cursor:pointer;
}

.btn-forward{
	left:612;
}
#slika{
  max-width: 700px;

  max-height: 540px;

}
.oko_slike{

}
.prikaz_slike{
  margin: auto;
  display: table;
  width: auto;

}
.desno{
  float: left;
  width:50px;
  height: 50px;
  display: table;
  margin-top:67.5px;
}
.lijevo{

      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg);
    float: left;
  width:50px;
  height: 50px;
  visibility: hidden;
  margin-top: 67.5px;
  margin-right: 2px;
}
.mobitel{
  display: none;
  width:90%;
}
#slikaMob{
width: 100%;
position: relative;
  display: table;
  margin: 0%;
}
@media screen and (max-width: 1400px) {
  .traka{

     display: table;
     width: 1400PX;
     margin:20px auto;
  }
}
@media screen and (max-width:500px) {
  .web{
    width: 99%;
  }
  #slika{
    position: relative;
    width:98%;
    height: auto;

  }
  .traka{
    width: 100%;
    height: 100px;
    margin-top: 5px;

  }
  UL{width: 87%}
  .tn1{
    width: 17.5%;
    height: auto;
  }
  .desno{
    ;
    width:20px;
    height: 20px;
    display: table;
    margin: 0;
    position: relative;
    margin-top: 30px;
}
  .lijevo{

margin-top: 30px;
    width:20px;
    height: 20px;
    visibility: hidden;

    margin-right: 2px;
  }
    html{
      margin-top: 20px;
    }
}
