<!--<div class="modal fade" id="selectedImageModal" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
          <div class="selectedImage" *ngIf="selectedImage">
              <img src="{{selectedImage}}" >
              <div class="arrow-back" (click)=navigate(false)>
                 &lt;
              </div>
              <div class="arrow-forward" (click)=navigate(true)>
                 &gt;
              </div>
              <div class="caption">
                 <p><strong>{{selectedImage.title}}</strong></p>
                 <p>{{selectedImage.caption}}</p>
              </div>
           </div>
      </div>
    </div>
  </div>
</div>-->
<html>
<div class="web">
<h1>{{naziv}}</h1>
  <div class="prikaz_slike">
    <div class="oko_slike">
    <img id="slika" src="{{selectedImage}}">
  </div>
  </div>
  <div class="traka">
    <img id="l" class="lijevo" src="https://image.flaticon.com/icons/svg/60/60758.svg" (click)=pomjeri(-1)>
  <ul id="thumbnailsList">
     <li *ngFor="let image of traka" >
        <img src="{{image}}" class="tn1"

                (click)=setSelectedImage(image)>
     </li>
  </ul>
  <img id="d" class="desno" src="https://image.flaticon.com/icons/svg/60/60758.svg" (click)=pomjeri(1)>
</div>
</div>
<app-footer></app-footer>
</html>
