.slogan{
font-family: 'Roboto', sans-serif;
font-size: 64px;
text-align: left;
color: #fff;
font-weight: 900;
line-height: 80px;
letter-spacing: .18em;
padding-top: 160px;
padding-left: 15px;

}
.content-table{
display: table;
text-align: center;

width: 100%;
height:100%;
}
.home-bottom{
  padding-top: 100px;
}
.about{
  text-align: left;
  margin-right: 400px;
  padding-left: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  width: 50%;
  margin-top: 120px;
  padding-top: 200px;
  letter-spacing: 0px;
  line-height: 30px;
  position: absolute;
  z-index: 2;
}

.button{
display: inline-bloc;
background: transparent;
border-radius: 0;
letter-spacing: .2em;
font-size: 12px;
font-family: sans-serif;
font-weight: 100;
padding-top: 8px;
padding-bottom: 8px;
z-index: inherit;
pointer-events:none;
color: #fff;
border: 2px solid #fff;
margin: 90px;
text-decoration: none;
transition-duration: 0.9s;


}
.button:hover {
  background: #fff;
  color: grey;
}
.eventpicture{


  min-height: 662px;
background-image: url('../../assets/images/stem4crop.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment:fixed;
  background-position:center center;

}
.info-overflow::before{
  position: absolute;
  top: 0;
  left: 0;
padding-top: 80px;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: block;
  content: "";
  background: linear-gradient(rgba(0, 47, 64, 0) 0%,rgba(0, 47, 64, 0) 50%, #002f40 100%);
}

.event-info{
    color: #fff;
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-size: 46px;
    line-height: 1em;
    font-weight: bold;
    letter-spacing: -1px;
    height: 100%;


}


*:before,*:after{
  box-sizing: border-box;
}
.info-overflow{
  transform: translateZ(0);
    height: 662px;
    overflow: hidden;
    position: absolute;
    width: 100%;
    z-index: 4;
}


div{
  display: block;
  border: 0;

  font: inherit;

  margin: 0;
  padding: 0;
}
*{
  text-rendering: geometricPrecision;
  box-sizing: border-box;
  outline: 0;
}
@media screen and (min-width: 1500px) {
  .eventpicture{
    min-height: 790px;
  }
  .info-overflow{
    height: 790px;
  }
  .slogan{
    padding-top: 300px;
  }
}


@media screen and (max-width: 1130px) {

}

@media screen and (max-width: 920px) {

}

@media screen and (max-width: 320px) {
  .about{
    min-width: 310px;
    font-size:18px;
    line-height: 20px;

  }
  .slogan{
    padding-top: 50px;
  }
}
@media screen and (min-width: 350px) and (max-width: 400px){
  .about{
    min-width: 350px;
    font-size:18px;
    line-height: 20px;

  }
  .slogan{
    padding-top: 50px;
  }
}
@media screen and (min-width: 410px){
  .about{
    min-width: 350px;
    font-size:18px;
    line-height: 20px;
    padding-top: 100px;

  }
  .slogan{
    padding-top: 50px;
  }
}
@media only screen and (min-width: 700px){
  .slogan{
    padding-top: 100px;
  }
}


@media screen and (min-width: 1600px) {

  .about{
    text-align: left;
    margin-right: 400px;
    padding-left: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #ffffff;
    font-size: 22px;
    width: 50%;
    padding-top: 60px;
    letter-spacing: 0px;
    line-height: 30px;
    position: absolute;
    z-index: 2;
  }
  .slogan{
    padding-top: 260px;
    font-family: 'Roboto', sans-serif;
    font-size: 80px;
    text-align: left;
    color: #fff;
    font-weight: 900;
    line-height: 80px;
    letter-spacing: .18em;
    padding-left: 15px;
  }
}
