<div class="backgroundimg">
  <div class="content-table">
  <h1 class="slogan">BUDI DIO <br>NAŠE <br> PRIČE</h1>
  <p class="about">
Steleks je matično udruženje studenata Elektrotehničkog fakulteta u Sarajevu.
Osnovan je 22.11. 1968 godine kao udruženje građana.
Stvoren je da bi pomogao studentima pri ostvarivanju njihovih osnovnih prava tokom studija.
U okviru Steleksa organizovane su razne aktivnosti edukativnog, kulturnog i sportskog sadržaja.
  </p>
  <a href="" class="button">SEE MORE</a>
  <div class="home-bottom">

    <!--<img class="arrow" src="/assets/images/arrow.png">-->
</div>
</div>
</div>
