th, td {
    border: 2px solid white;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}
table {
  background: #d9d9d9;
  border: 2px solid white;
  border-collapse: collapse;
  width: 70%;
  margin:0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}
tr:nth-child(even) {
  background: #ececec;
}

tr:first-child {
  border-bottom: 2px solid #333;
}
h3{
  text-align: center;
}

.elektrijada
{
  background: #16222A;
  background: -webkit-linear-gradient(to bottom, #3A6073, #16222A);
  background: linear-gradient(to bottom, #3A6073, #16222A);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  width:100%;
  height: 1300px;
  opacity: 1;
  padding-top: 125px;
}
.form-content{
  position: relative;
  height: auto;
  width: 50%;
  display: table;
  margin:0px auto;
 background-color: #fff;
 font-family: 'Roboto', sans-serif;
}
@media only screen and (max-width: 1367px){
  div.elektrijada{
    min-width: 0;
  }
  div.form-content{
    min-width: 0;
  }
}
h2{background: #4D4D4D;
  text-align: center;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-size: 22px;
    font-weight: 100;
    padding: 30px;
    margin: 0px;
}

input[type="text"]{
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  font-size: 14px;
  font-weight: 400;
  background-color: white;
  color: #3B3B3D;
  border: 1px solid #cccccc;
  border-radius: 4px;
  float: left;
}

  input[type="text"]:focus {
    border: 1px solid #4D4D4D;
    outline: none;
  }

  input[type="text"]::placeholder {
    color: #aaa;
  }

  .groupBox {
width: 60%;
margin:0 auto;
margin-top: 10px;
margin-bottom: 30px;
padding: 30px;
padding-top: 5px;
padding-bottom: 10px;
border: 1px solid  #b3b3b3;
border-radius: 0px;
background-color: #e6e6e6;
  }
  .dugmad{
    width: 70%;
    margin: 0 auto;
    height: 50px;
  }
  .lijevi{
    float: left;
  }
  .desno{
    float: right;
  }

/* button za brisanje */
.button1 {
  -moz-box-shadow: inset 0px 1px 0px 0px #595959;
  -webkit-box-shadow: inset 0px 1px 0px 0px #595959;
  box-shadow: inset 0px 1px 0px 0px #595959;
  background-color: #595959;
  border: 1px solid #595959;
  display: inline-block;
  cursor: pointer;
  color: gray;
  font-size: 12px;
  margin: 5px;
  margin-left: 10px;
  margin-right: 10px;
  float:right;
  padding: 5px 18px;
  text-decoration: none;
  border-radius: 4px;
  color: white;
}
.button2 {
  -moz-box-shadow: inset 0px 1px 0px 0px #595959;
  -webkit-box-shadow: inset 0px 1px 0px 0px #595959;
  box-shadow: inset 0px 1px 0px 0px #595959;
  background-color: #595959;
  border: 1px solid #595959;
  display: inline-block;
  cursor: pointer;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  margin:0 auto;
  margin-top: 40px;
  float:left;
  padding: 5px 18px;
  text-decoration: none;
  border-radius: 4px;
}

button{
  -moz-box-shadow: inset 0px 1px 0px 0px #595959;
  -webkit-box-shadow: inset 0px 1px 0px 0px #595959;
  box-shadow: inset 0px 1px 0px 0px #595959;
  background-color: #595959;
  border: 1px solid #595959;
  display: inline-block;
  cursor: pointer;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  margin: 5px;

  
  padding: 5px 8px;
  text-decoration: none;
  border-radius: 4px;
}
button:hover, .button1:hover {
  background:linear-gradient(to bottom, #666666 5%, #808080 100%);
  background-color:#666666;
}

@media screen and (max-width: 1920px) and (max-height: 1024px) {
  .form-content{
    width: 50%;
  }
  button {

  }
}

@media screen and (max-width: 1920px) and (max-height: 900px) {
  .form-content{
    width: 50%;
  }
  button {

  }
}

.error {
  color: red;
  text-align: center;
  font-size: 12px;
}

.poruka {
  color:green;
  text-align: center;
  font-size: 12px;
}

@media screen and (max-width: 1300px) {
  .form-content{
    width: 40%;
  }
  .elektrijada{
    height: 1300px;
  }
  input[type="text"]{
    width: 80%;
    margin-left: 20px;
    margin-left: 20px;
  }
  button {

  }
  .groupBox {
    padding: 7px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 920px) {
  .form-content{
    width: 50%;
  }
  input[type="text"]{
    width: 80%;
    margin-left: 20px;
    margin-left: 20px;
  }
}

@media screen and (max-width: 720px) {
  .form-content{
    width: 100%;
    padding: 20px;
  }
  button {

  }
  .groupBox {
    padding: 7px;
    margin-bottom: 30px;
  }
  input[type="text"] {
    margin: 15px;
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 600px) {
  .form-content{
    width: 50%;
  }
}

.error {
  color: red;
  text-align: center;
}

.poruka {
  color:green;
  text-align: center;
}

@media screen and (max-width: 3900px) {
  .form-content{
    width: 50%;
    margin-top: 50px;
  }
}

.error {
  color: red;
  text-align: center;
}

.poruka {
  color:green;
  text-align: center;
}
