<div class="elektrijada">
<div class="form-content">

<form>
    <fieldset class="groupBox">
      <h2>PRIJAVA ZA ADMINA</h2>

        <input [(ngModel)]="Username" type="text" placeholder="Username..." id="username" name="username" style="margin-top:50px">
      <input type="text" placeholder="Password..." [(ngModel)]="Password" id="password"  name="password" style="margin-bottom:20px">
      <a href="http://localhost:4200/admin">
  <input type="button" value="Prijavi se" />
</a>
  </fieldset>
</form>
</div>
</div>
