html {
    height: 100%;
}

#datum {
  margin-right: 20px;
}

body{

  position: absolute;
  width:100%;
  height:auto;
  margin: 0;
  background: #16222A;
  background: -webkit-linear-gradient(to bottom, #3A6073, #16222A);
  background: linear-gradient(to bottom, #3A6073, #16222A);
  opacity: 1;
}
.elektrijada
{

  width:100%;
  height: auto;
  padding-top: 125px;
  padding-bottom: 50px;
}
h2{
  background: #4D4D4D;
  text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-size: 22px;
    font-weight: 100;
    padding: 30px;
}
textarea{
  resize:vertical;
  max-height:100px;
  min-height:40px;
  width: 100%;
  height: 100px;
  font-size: 14px;
  font-weight: 400;
  background-color: white;
  color: #3B3B3D;
  border: 1px solid #cccccc;
  border-radius: 4px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
textarea:focus{
  border: 1px solid #4D4D4D;
  outline: none;
}
textarea::placeholder{
  color: #aaa;
}


input[type="text"]{
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  font-size: 14px;
  font-weight: 400;
  background-color: white;
  color: #3B3B3D;
  border: 1px solid #cccccc;
  border-radius: 4px;
  float: left;
  font-family: 'Roboto',sans-serif;
}

  input[type="text"]:focus {
    border: 1px solid #4D4D4D;
    outline: none;
  }

  input[type="text"]::placeholder {
    color: #aaa;
  }

  input[type="file"]{
    float: left;
    padding: 5px;
    font-size: 14px;
    font-weight: 400;
    background-color: white;
    color: #3B3B3D;
    font-family: 'Roboto', sans-serif;
  }

  input[type="date"]
  {
    float: left;
    font-size: 14px;
    font-weight: 400;
    background-color: white;
    color: #3B3B3D;
    border: 1px solid #cccccc;
    border-radius: 4px;
    font-family: 'Roboto',sans-serif;
  }
  input[type="text1"]:focus {
    border: 1px solid #4D4D4D;
    outline: none;
  }

  input[type="text1"]::placeholder {
    color: #aaa;
  }
  label{
    float: left;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto',sans-serif;
    padding-right: 15px;
  }

.groupBox {
  float: left;
  width: 26.5%;
  margin:26px;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  background-color: #fff;
}

.groupBox1 {
  width: 90%;
  margin:26px;
  padding: 10px;
  border-radius: 4px;
  background-color: #fff;
}
.groupBox2 {
  width: 90%;
  margin-top:26px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom:26px;
}
.groupBox3{
  margin-top: 50px;
  padding-bottom: 20px;
  float: right;
  padding-right: 40px;

}
.form-content input[type="button"]{
    -moz-box-shadow: inset 0px 1px 0px 0px #4D4D4D;
    -webkit-box-shadow: inset 0px 1px 0px 0px #4D4D4D;
    box-shadow: inset 0px 1px 0px 0px #4D4D4D;
    background-color: #4D4D4D;
    border: 1px solid #4D4D4D;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    font-family: 'Roboto-Condensed';
    font-size: 14px;
    margin: 35px;
    margin-right: 50px;
    margin-top: 15px;
    float:right;
    padding: 5px 28px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 4px;
}
.form-content input[type="button"]:hover {
    background:linear-gradient(to bottom, #666666 5%, #808080 100%);
    background-color:#666666;
}

.form-content{
  position: relative;
  height: auto;
  width: 70%;
  display: table;
  margin:0px auto;
  background-color: #fff;
}

.form-content input[type="button"]{
    -moz-box-shadow: inset 0px 1px 0px 0px #4D4D4D;
    -webkit-box-shadow: inset 0px 1px 0px 0px #4D4D4D;
    box-shadow: inset 0px 1px 0px 0px #4D4D4D;
    background-color: #4D4D4D;
    border: 1px solid #4D4D4D;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 400;
    margin: 35px;
    margin-right: 50px;
    margin-top: 15px;
    float:right;
    padding: 5px 28px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 4px;
}
.form-content input[type="button"]:hover {
    background:linear-gradient(to bottom, #666666 5%, #808080 100%);
    background-color:#666666;
}



@media screen and (max-width: 1130px) {
  .form-content{
    width: 70%;
  }

  .groupBox2{
    width: 45%;
  }
  .elektrijada{
    height: auto;
    padding-top: 160px;
    padding-bottom: 60px;
  }
  .form-content input[type="button"]{
    margin-right: 75px;
  }
}

@media screen and (max-width: 920px) {
  .groupBox{
    width: 80%;
  }
  .groupBox1{
    width: 80%;
  }

  .groupBox2{
    width: 50%;
  }

  .elektrijada{
    height: auto;
    padding-top: 160px;
    padding-bottom: 60px;
  }
}

@media screen and (max-width: 720px) {
  .groupBox{
    width: 80%;
  }
  .groupBox1{
    width: 80%;
  }
}
@media screen and (width: 412px) {
  .groupBox{
    width: 80%;
  }
  .groupBox1{
    width: 80%;
  }
  .elektrijada{
    height: auto;
    padding-top: 160px;
    padding-bottom: 60px;
  }

}


@media screen and (max-width: 680px) {
  .groupBox{
    width: 80%;

  }
  .groupBox1{
    width: 80%;

  }
  .elektrijada{
    height: auto;
    padding-top: 160px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1600px) {
  body{
    height:auto;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 1.5) {
    body{
      height: auto;
    }
}
@media only screen and (max-width: 768px){
  body{
    height: auto;
  }
}
