<body>
<div class="elektrijada">
<div class="form-content">
<form>
  <h2>Najava događaja</h2>
  <fieldset class="groupBox1">
    <input type="text" name="year" placeholder="Naziv događaja"/>
    <input type="text" name="location" placeholder="Lokacija"/>
    <fieldset class="groupBox2">
    <label for="datum">Datum događaja: </label>
    <input type="text1" id="datum" name="datum" placeholder="dd.mm.yyyy."/>
    </fieldset>
    <fieldset class="groupBox2">
    <label for="pozadina">Pozadina: </label>
    <input type="file" id="pozadina" name="pozadina" accept="image/*">
    </fieldset>
    <textarea placeholder="About" onkeyup="adjust_textarea(this)"></textarea>
    <textarea placeholder="Učesnici" onkeyup="adjust_textarea(this)"></textarea>
    <textarea placeholder="Mjesto" onkeyup="adjust_textarea(this)"></textarea>
    <textarea placeholder="Učešće" onkeyup="adjust_textarea(this)"></textarea>

</fieldset>
<fieldset class="groupBox3">
  <form>
 <input type="button" value="Dodaj" />
</form>
</fieldset>
</form>

</div>
</div>
</body>
