<body>
<div class="elektrijada">
<div class="form-content" style="border:1px solid red;">
<form>
  <h2>Najava događaja</h2>
  <fieldset class="groupBox1">
    <input [(ngModel)]="Title" [ngModelOptions]="{standalone: true}" type="text" name="year" placeholder="Naziv događaja"/>



    <fieldset class="groupBox2">
    <label for="datum">Datum početka događaja: </label>

    <angular2-date-picker [(ngModel)]="StartDate" type="text1" id="datum" name="datum" [settings]="settings"></angular2-date-picker>
    <label for="datum">Datum završetka događaja: </label>
    <angular2-date-picker [(ngModel)]="EndDate" type="text1" id="datum" name="datum" [settings]="settings"></angular2-date-picker>

    </fieldset>


    <fieldset class="groupBox2">
    <label for="pozadina">Slika: </label>
    <input type="file" ng2FileSelect [uploader]="uploader" id="pozadina" name="pozadina" accept="image/*">
    </fieldset>
    <textarea [(ngModel)]="LongText" [ngModelOptions]="{standalone: true}" placeholder="Tekst" onkeyup="adjust_textarea(this)" required></textarea>
    <textarea [(ngModel)]="ShortText" [ngModelOptions]="{standalone: true}" placeholder="Sažetak" onkeyup="adjust_textarea(this)"></textarea>
    <textarea [(ngModel)]="Ucesnici" [ngModelOptions]="{standalone: true}" placeholder="Učesnici" onkeyup="adjust_textarea(this)"></textarea>
    <textarea [(ngModel)]="Mjesto" [ngModelOptions]="{standalone: true}" placeholder="Mjesto" onkeyup="adjust_textarea(this)"></textarea>
    <textarea [(ngModel)]="Ucesce" [ngModelOptions]="{standalone: true}" placeholder="Učešće" onkeyup="adjust_textarea(this)"></textarea>

</fieldset>
<fieldset class="groupBox3">
  <form>
 <input type="button" value="Dodaj" (click)="upload()"/>
</form>
</fieldset>
</form>

</div>
</div>
</body>
