<div id="event" class="eventpicture animation-on">

<div class="info-overflow">
<div class="info-dash">
    <div class="info-inner">
      <div class="event-info">
        <div class="name">
          Elektrijada
        </div>
        <div class="place">
          Rimini, Italija
        </div>
        <div class="date">
          Maj   19 - 26  2018
        </div>
      </div>
    </div>
</div>
</div>

</div>

<app-tekst2></app-tekst2>


<app-sponzori> </app-sponzori>
<app-footer></app-footer>
