
<html>
<div class="about-us-page">
  <div class="picture">
    <img class="about-us-photo" src="assets/images/onamacrop.jpg">
    <div class="image-overlay">

      <div class="content">
        <div class="title center" style="color: white; text-shadow: 1px 1px 10px rgb(84, 84, 84);">O NAMA</div>"
      </div>

    </div>
    <div class="triangle-wrapper">
      <div class="wrapper">
      <div id="left"></div>
      <div id="right"></div>
    </div>

    </div>
  </div>
<div class="about-us-description">
  <div class="description-container">
    <div class="text-container">
      Steleks je matično udruženje studenata Elektrotehničkog fakulteta u Sarajevu.
  Osnovan je 22.11. 1968 godine kao udruženje građana. Stvoren je da bi pomogao studentima pri ostvarivanju njihovih osnovnih prava tokom studija, što je ujedno i njegov primarni zadatak.
  U okviru Steleksa organizovane su razne aktivnosti edukativnog, kulturnog i sportskog sadržaja.
  Inicijatori cijele ideje, tj. osnivači Steleksa su Pavle Blum, Gojko Babić (prvi predsjednik Društva), Mašo Užičanin, Nikolina Milošević, Miro Vego, Zoran Dropulić, Andrija Batrolović, Dunja Uzunović, Mina Pilav, Mirsad Pirić, Pero Boro, Ibrahim Polimac, Emir Sefo i Mustafa Trklja (drugi predsjednik Društva).
  Ime Steleks je predložio Miro Vego, kao skraćenicu za STudentski ELEktrotehnički Klub i Servis.
  Steleks je svojim radom i zalaganjem članova 1976. godine od strane grada Sarajevo primio najveće priznanje, Šestoaprilsku nagradu Grada Sarajeva, sa čime se malo koja organizacija na ovom podneblju moze pohvaliti.
  Stari Steleks je bio lociran na desnoj obali Miljacke, uzvodno od mosta Vrbanja, na adresi Gundulićeva 2. Poslije rata na tom mjestu je napravljen parking, te je Steleks premješten u prostorije glavne zgrade Elektrotehničkog fakulteta u Sarajevu.
    </div>
  </div>
</div>

</div>

<div class="col-lg-12 text-center">
  <h2 class="section-heading">Događaji</h2>
  <hr class="primary">
</div>
    <!-- About Section -->

<div class="drugi">
     <section id="about">

         <div class="container">

             <div class="row">
                 <div class="col-lg-12">
                     <ul class="timeline">
                         <li>
                             <div class="timeline-image">
                                 <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                             </div>
                             <div class="timeline-panel">
                                 <div class="timeline-heading">
                                     <h4>JANUAR</h4>
                                     <h4 class="subheading">Liga robota</h4>
                                 </div>
                                 <div class="timeline-body">
                                     <p class="text-muted">Spremite robote jer se vraćamo i ove godine sa novom rundom Legue of Robots i ove godine.</p>
                                 </div>
                             </div>
                         </li>
                         <li class="timeline-inverted">
                             <div class="timeline-image">
                                 <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                             </div>
                             <div class="timeline-panel">
                                 <div class="timeline-heading">
                                     <h4>APRIL</h4>
                                     <h4 class="subheading">Steleksijada</h4>
                                 </div>
                                 <div class="timeline-body">
                                     <p class="text-muted">Studenti kroz ovu manifestaciju imaju mogućnost da se takmiče kroz 5 sportskih disciplina : košarka, mali nogomet, odbojka, stoni tenis i šah. </p>
                                 </div>
                             </div>
                         </li>
                         <li>
                             <div class="timeline-image">
                                 <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                             </div>
                             <div class="timeline-panel">
                                 <div class="timeline-heading">
                                     <h4>MAJ</h4>
                                     <h4 class="subheading">STEM GAMES</h4>
                                 </div>
                                 <div class="timeline-body">
                                     <p class="text-muted"> Pokažite svoja znanja i vještine i odmjerite ih s drugima, bilo u znanju ili u sportu, a navečer zaboravite na suparnike i zajedno se opustite i zabavite.</p>
                                 </div>
                             </div>
                         </li>
                         <li class="timeline-inverted">
                             <div class="timeline-image">
                                 <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                             </div>
                             <div class="timeline-panel">
                                 <div class="timeline-heading">
                                     <h4>OKTOBAR</h4>
                                     <h4 class="subheading">Sarajevo Innovations festival</h4>
                                 </div>
                                 <div class="timeline-body">
                                     <p class="text-muted">Uz raznovrstan program manifestacije koja obuhvata kako edukativne, tako i zabavne sadržaje, "SIFI" je odlična prilika da prezentirate svoje radove, razmijenite ideje, upoznate se sa vrsnim stručnjacima iz različitih oblasti, njihovim radovima i iskustvima, ali i sa budućim poslodavcima.  </p>
                                 </div>
                             </div>
                         </li>
                         <li class="timeline-inverted">
                             <div class="timeline-image">
                                 <h4>Be Part
                                     <br>Of Our
                                     <br>Story!</h4>
                             </div>
                         </li>
                     </ul>
                 </div>
             </div>
         </div>
     </section>
   </div>


<div class="prvi">
<div id="event_slike">
    <app-aboutevent> </app-aboutevent>
</div>


     <div class="about-us-description">
       <div class="description-container">
         <div class="event_text">
           Steleks je matično udruženje studenata Elektrotehničkog fakulteta u Sarajevu.
       Osnovan je 22.11. 1968 godine kao udruženje građana. Stvoren je da bi pomogao studentima pri ostvarivanju njihovih osnovnih prava tokom studija, što je ujedno i njegov primarni zadatak.
       U okviru Steleksa organizovane su razne aktivnosti edukativnog, kulturnog i sportskog sadržaja.
       Inicijatori cijele ideje, tj. osnivači Steleksa su Pavle Blum, Gojko Babić (prvi predsjednik Društva), Mašo Užičanin, Nikolina Milošević, Miro Vego, Zoran Dropulić, Andrija Batrolović, Dunja Uzunović, Mina Pilav, Mirsad Pirić, Pero Boro, Ibrahim Polimac, Emir Sefo i Mustafa Trklja (drugi predsjednik Društva).
       <br>Ime Steleks je predložio Miro Vego, kao skraćenicu za STudentski ELEktrotehnički Klub i Servis.
       Steleks je svojim radom i zalaganjem članova 1976. godine od strane grada Sarajevo primio najveće priznanje, Šestoaprilsku nagradu Grada Sarajeva, sa čime se malo koja organizacija na ovom podneblju moze pohvaliti.
       Stari Steleks je bio lociran na desnoj obali Miljacke, uzvodno od mosta Vrbanja, na adresi Gundulićeva 2. Poslije rata na tom mjestu je napravljen parking, te je Stleleks premješten u prostorije glavne zgrade Elektrotehničkog fakulteta u Sarajevu.
         </div>
       </div>
     </div>
</div>

<div class="col-lg-12 text-center">
  <h2 class="section-heading" id="am">Naši klubovi</h2>
  <hr class="primary">
</div>

<app-learningpage> </app-learningpage>

<app-footer></app-footer>
</html>
