<div class="onama">
<div class="picture">
  <div class="info-overflow">

  </div>
</div>
<div class="content">
  <h1> O nama </h1>
  <hr class="primary">
  <div class="historija">
    <p>
  Steleks je matično udruženje studenata Elektrotehničkog fakulteta u Sarajevu.
  Osnovan je 22.11. 1968 godine kao udruženje građana. Stvoren je da bi pomogao studentima pri ostvarivanju njihovih osnovnih prava tokom studija, što je ujedno i njegov primarni zadatak.
  U okviru Steleksa organizovane su razne aktivnosti edukativnog, kulturnog i sportskog sadržaja.
  Inicijatori cijele ideje, tj. osnivači Steleksa su Pavle Blum, Gojko Babić (prvi predsjednik Društva), Mašo Užičanin, Nikolina Milošević, Miro Vego, Zoran Dropulić, Andrija Batrolović, Dunja Uzunović, Mina Pilav, Mirsad Pirić, Pero Boro, Ibrahim Polimac, Emir Sefo i Mustafa Trklja (drugi predsjednik Društva).
  Ime Steleks je predložio Miro Vego, kao skraćenicu za STudentski ELEktrotehnički Klub i Servis.
  Steleks je svojim radom i zalaganjem članova 1976. godine od strane grada Sarajevo primio najveće priznanje, Šestoaprilsku nagradu Grada Sarajeva, sa čime se malo koja organizacija na ovom podneblju moze pohvaliti.
  Stari Steleks je bio lociran na desnoj obali Miljacke, uzvodno od mosta Vrbanja, na adresi Gundulićeva 2. Poslije rata na tom mjestu je napravljen parking, te je Stleleks premješten u prostorije glavne zgrade Elektrotehničkog fakulteta u Sarajevu.</p>
  </div>
  <div class="projekti">
    <h2>Projekti</h2>
    <div class="nazivi">
    <ul>
    <li>Elektrijada</li>
    <li>Sarajevo Innovations Festival</li>
    <li>Steleksijada</li>
    <li>League of Robots</li>
    <li>Kvizovi</li>
    </ul>
    </div>
    <div class="slike">
    <img src='../../assets/images/projektiE.jpg' >
    <img src='../../assets/images/projektiST.jpg' >
    <img src='../../assets/images/projektiS.jpg' >
    </div>
  </div>

</div>
</div>
<app-footer></app-footer>
