<div class="elektrijada">
  <div class="form-content">
    <h2>ULOGE MODERATORA</h2>
  <table>
    <tr>
      <th></th>
      <th>Opis zadatka</th>
      <th style="text-align:center;">Opcija</th>
    </tr>
    <tr>
      <td style="width:6%;">1.</td>
      <td>Dodavanje novog sponzora</td>
      <td style="width:20%;">
        <a href="#" class="button1">OK</a>
      </td>
    </tr>
    <tr>
      <td style="width:6%;">2.</td>
      <td>Dodavanje sadržaja za Elektrijadu</td>
      <td style="width:20%;">
        <a href="http://localhost:4200/formaelektrijada" class="button1">OK</a>
      </td>
    </tr>
    <tr>
      <td style="width:6%;">3.</td>
      <td>Dodavanje sadržaja za Sifi</td>
      <td style="width:20%;">
        <a href="http://localhost:4200/formasifi" class="button1">OK</a>
      </td>
    </tr>
    <tr>
      <td style="width:6%;">4.</td>
      <td>Dodavanje sadržaja za Galeriju</td>
      <td style="width:20%;">
        <a href="#" class="button1">OK</a>
      </td>
    </tr>
    <tr>
      <td style="width:6%;">5.</td>
      <td>Dodavanje najave event-a</td>
      <td style="width:20%;">
        <a href="#" class="button1">OK</a>
      </td>
    </tr>
    <tr>
      <td style="width:6%;">6.</td>
      <td>Dodavanje izvještaja event-a</td>
      <td style="width:20%;">
        <a href="#" class="button1">OK</a>
      </td>
    </tr>
  </table>
</div>
</div>
