<div class="elektrijada">
  <form class="wrapper">
    <h1>PRIJAVA</h1>
    <hr>
      <fieldset class="groupBox">
        <input [(ngModel)]="Username" type="text" placeholder="Username..." id="username" name="username">
        <input type="text" placeholder="Password..." [(ngModel)]="Password" id="password"  name="password" style="margin-bottom:20px">
        <a href="http://localhost:4200/admin">
    <button class="button" type="button">PRIJAVA</button>
</a>
    </fieldset>
  </form>
</div>
