.tekst{
	text-align: justify;
	padding-right: 5px;
	margin-bottom: 20px;
	font-weight: 500;
}

.home{
	width: 80%;

	display: table;
	margin: auto;
	height: 350px;;
	padding: 35px;
}
.footer{
	width: 80%;
}
.sadrzaj1{
	float:left;
	width:55%;
	height: 100%;
}
.sadrzaj2{
	/*background-color: #f2f2f2;*/
	/*box-shadow: 1px 3px 5px #808080;*/
	float:right;
	width:45%;
	height: 100%;
	padding: 0px;
}
.naslov {
	width:100%;
	display:inline-block;
}
.naslov1 {
	width:49%;
	display:inline-block;
}
.naslov2 {
	width:50%;
	display:inline-block;
	text-align:right;
}
.font {
	font-weight:500;
	font-size:19px;
}
.sve{
	float: left;
	width: 60%;
}
.slika{
	float: right;
	margin-top: 12px;
	width: 33%;
}
iframe{
	margin-top: 15px;
	width: 85%;
	height: 250px;
	padding-left: 0px;
}
h1{
	margin:5px;
	padding-left: 0px;
	margin-left: 0px;
	font-family: 'Roboto', sans-serif;
	font-size: 35px;
	text-align: left;
	font-weight: 500;
	padding-bottom: 20px;

}
span
{
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	text-align: left;
	font-weight: 400;
}
p{
	margin-top: 15px;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	text-align: left;
	font-weight: 400;
}
h2{
	margin-top: 15px;
	font-family: 'Roboto', sans-serif;
	font-size: 26px;
	text-align: left;
	font-weight: 500;
	color: #4b799b;
}
.button{
	/*border: medium none;
	padding: 10px 20px;*/

	-moz-box-shadow: inset 0px 1px 0px 0px #4D4D4D;
	-webkit-box-shadow: inset 0px 1px 0px 0px #4D4D4D;
	box-shadow: inset 0px 1px 0px 0px #4D4D4D;
	background-color: #4D4D4D;
	border: 1px solid #4D4D4D;
	display: inline-block;
	cursor: pointer;
	color: #FFFFFF;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	font-weight: 400;
	margin-top: 15px;
	margin-left:0px;
	padding: 5px 28px;
	text-decoration: none;
	text-transform: uppercase;
	border-radius: 4px;
}
.button:hover {
	background:linear-gradient(to bottom, #666666 5%, #808080 100%);
	background-color:#666666;
}
@media screen and (max-width: 1130px) {
	.sadrzaj1{
		width: 100%;
		float: left;
		height:auto;
		margin:0;
		padding: 0;
		padding-bottom: 55px;
	}
	.sadrzaj2{
		width: 100%;
		float: left;
		height:auto;
		margin:0;
		padding: 0;
	}
	.home{
		width: 100%;

		display: table;
		margin:auto;
		height: auto;
		padding: 20px;

	}
	iframe{
		display: table;
		margin:0 auto;

	}
}

@media screen and (max-width: 920px) {
	.sadrzaj1{
		width: 100%;
		float: left;
		height:auto;
		margin:0;
		padding: 0;
		padding-bottom: 55px;
	}

	iframe{
		display: table;
		margin:0 auto;

	}
	.sadrzaj2{
		width: 100%;
		float: left;
		height:auto;
		margin:0;
		padding: 0;
	}
	.home{
		width: 100%;

		display: table;
		margin:auto;
		height: auto;
		padding: 20px;

	}

}

@media screen and (max-width: 720px) {
	.sadrzaj1{
		width: 100%;
		float: left;
		height:auto;
		margin:0;
		padding: 0;
		padding-bottom: 55px;
	}
	iframe{
		display: table;
		margin:0 auto;

	}
	.sadrzaj2{
		width: 100%;
		float: left;
		height:auto;
		margin:0;
		padding: 0;
	}
	.home{
		width: 100%;

		display: table;
		margin:auto;
		height: auto;
		padding: 20px;

	}

}


@media screen and (max-width: 680px) {
  .sadrzaj1{
		width: 100%;
		float: left;
		height:auto;
		margin:0;
		padding: 0;
		padding-bottom: 55px;
	}
	.slika{
		margin-right: 5px;
	}

	iframe{
		display: table;
		margin:0 auto;

	}
	.sadrzaj2{
		width: 100%;
		float: left;
		height:auto;
		margin:0;
		padding: 0;
	}
	.home{
		width: 100%;

		display: table;
		margin:auto;
		height: auto;
		padding: 20px;

	}
}
@@media screen and (max-width: 430px) {
	.slika{
		margin-right: 5px;
	}
	img{
		margin-right: 3px;
	}

}



@media screen and (min-width: 1900px) {
	.naslov2{
		width: 40%;
	}
}

@media only screen and (max-width: 1024px) and (max-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 1.5) {
		.sadrzaj1{
			width: 100%;
			float: left;
			height:auto;
			margin:0;
			padding: 0;
			padding-bottom: 55px;
		}
		.sadrzaj2{
			width: 100%;
			float: left;
			height:auto;
			margin:0;
			padding: 0;
		}
		.home{
			width: 100%;

			display: table;
			margin:auto;
			height: auto;
			padding: 20px;

		}
}
