<div class="video">
  <iframe width=100% height=450px src="https://www.youtube.com/embed/6Z8cdnZ63Uo" allowfullscreen></iframe>
  <div class="test">
      <p class="eventname">Steleks TV</p> <p class="eventshorttext">Lorem ipsum</p>
</div>


<!-->
<div class="wrapper" style="background-color:#f4ed2f">
  <div class="test">
      <p class="eventname">Naziv</p> <p class="eventshorttext">HAAALP !!!</p>
</div>

</div>
<div class="wrapper" style="background-color:#8bc63e;">
  <div class="test">
      <p class="eventname">Naziv</p> <p class="eventshorttext">omg she is crazy so much omg omg omg </p>
</div>

</div>
<div class="wrapper" style="background-color:#f4ed2f;">
  <div class="test">
    <p class="eventname">Naziv</p>
      <p class="eventshorttext">amina bi dodala tesksta da ima amina tiranin</p>
</div>
<-->
