.video{

    background-color: black;
    overflow: hidden;


    width: 100%;
  }

  .test{
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
    position: relative;
    margin: 0;
    background-color: #3E3E3F;
    color: white;
    width:100%;
    height: 170px;
    transform: translateY(calc(170px - 35px));
    transition: all 0.2s ease-in-out;
    z-index: 10;
  }

.test:hover{
  transform: translateY(75px);
}


.eventname{
  font-size: 15px;
  margin-top: -5px;
  padding-top: 7px;
  padding-left: 10px;
}

.eventshorttext{
  font-size: 12px;
  padding-left: 10px;
  padding-right: 10px;
}
