<div class="h5co-photos-section">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-4 animate-box" *ngFor="let i of albumi;">
                <a (click)="f(i)" class="grid-photo img-popup" style="background-image: url({{i.backgroundSlika}}); background-size: 100% 80%;">
                  <div class="desc">
                    <h3>{{i.naziv}}</h3>
                    <span>{{i.brojSlika}} fotografija</span>
                  </div>
                </a>
              </div>
        </div>
  