
header{
  margin: 20px 20px ;
  overflow: hidden;

  position: fixed;
  top: 0;
  width: 100%;
  z-index: 150;
  display: table;
  margin: auto;
  background: rgba(255, 255, 255, 0.95);

}
.page-scroll-header {
    background-color: #ccc !important;
    opacity: 0.9;
}
.my-header {
    transition: background-color 2s ease-out;
}

.logo{
  display: inline-block;
  font-size: 30px;
}
ul{
  list-style: none;
  display: inline-block;
}
li{
  display: inline-block;
  margin: 0 15px;
}
.LoginRegister{
  float: right;
}
.shrink{
  background: blue;
}
