<header class="my-header" [ngClass]= "{'page-scroll-header': isScrolled}">


  <nav role="navigation" id="nav-main" class="okayNav">

    <ul>
      <li><a class="logo" href="/">
        <img [src]="steleks" >     </a></li>

        <li><a [routerLink]="['/#']">Početna</a></li>
      <li><a [routerLink]="['/about']">O nama</a></li>
      <li><a [routerLink]="['/news']">Vijesti</a></li>
      <li><a [routerLink]="['/upravniodbor']">Upravni odbor</a></li>
      <li><a [routerLink]="['/elektrijada']">Elektrijada</a></li>
      <li><a [routerLink]="['/sifi']">Sifi</a></li>
      <li><a [routerLink]="['/gallery']">Galerija</a></li>

      <a class="logo" id ="user"   >
        <img [src]="logo" (click)=detalji()>     </a>

    </ul>



    <div class="drugi">
      <div class="lijevo">
      <a class="logo" href="#">
        <img [src]="steleks" >     </a>
      </div>
      <div class="desno" (click)=klik()>
      <a class="menu"  >
        <img [src]="meni" >     </a>

      </div>

      <ul class="mob" id="mob1">

        <li><a [routerLink]="['/#']">Početna</a></li>
        <li><a [routerLink]="['/about']">O nama</a></li>
        <li><a [routerLink]="['/news']">Vijesti</a></li>
        <li><a [routerLink]="['/upravniodbor']">Upravni odbor</a></li>
        <li><a [routerLink]="['/elektrijada']">Elektrijada</a></li>
        <li><a [routerLink]="['/sifi']">Sifi</a></li>
        <li><a [routerLink]="['/gallery']">Galerija</a></li>

      </ul>

    </div>


  </nav>

  <ul class="opt" id="prikaziOpcije">

  <li><a class="opcije" >{{username}}</a></li>
  <li><a class="opcije" (click)=route()>Opcije {{rola}}a</a></li>

    <li><a class="opcije" href="/" (click)=odjava()>Odjavi se</a></li>
</ul>
</header>
<!-- /header -->
