<header id="header" class="eventpicture animation-on" >


  <nav role="navigation" id="nav-main" class="okayNav clearfix">
    <a class="logo" href="#">
             Steleks
          </a>
    <ul>
      <li><a href="#">Početna</a></li>
      <li><a href="about">O nama</a></li>
      <li><a href="news">Vijesti</a></li>
      <li><a href="upravniodbor">Upravni odbor</a></li>
      <li><a href="elektrijada">Elektrijada</a></li>
      <li><a href="sifi">Sifi</a></li>
      <li><a href="gallery">Galerija</a></li>

    </ul>
    <ul class="LoginRegister">
      <li><a href="prijava">Prijava</a></li>
      <li><a href="registracija">Registracija</a></li>
    </ul>
  </nav>
</header>
<!-- /header -->
