<header id="header">


  <nav role="navigation" id="nav-main" class="okayNav clearfix">
    <a class="logo" href="#">
             Steleks
          </a>
    <ul>
      <li><a href="">Početna</a></li>
      <li><a href="about">O nama</a></li>
      <li><a href="#">Vijesti</a></li>
      <li><a href="#">Događaji</a></li>
      <li><a href="#">Elektrijada</a></li>
      <li><a href="#">Sifi</a></li>
      <li><a href="#">Galerija</a></li>
    </ul>
    <ul class="LoginRegister">
      <li><a href="prijava">Prijava</a></li>
      <li><a href="registracija">Registracija</a></li>
    </ul>
  </nav>
</header>
<!-- /header -->
