<div class="okvir">
  <h1>Naslov</h1>
<p class="text">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque a hendrerit quam, et placerat elit. Donec sed aliquet ligula. In ultrices viverra diam. Pellentesque dignissim non ipsum sit amet commodo. Donec pellentesque, velit quis imperdiet facilisis, mauris neque placerat sapien, at congue eros purus eu sem. Maecenas ac est rhoncus, consectetur nibh in, molestie dui. Sed vel scelerisque nisl, eu aliquam nunc. Sed pharetra ut augue ut venenatis. Vestibulum lorem risus, malesuada at ullamcorper at, laoreet a diam. Morbi elementum pretium placerat. Vestibulum nulla libero, faucibus a erat vel, viverra suscipit lacus. Sed et gravida elit.

Proin mi quam, lobortis non accumsan sit amet, feugiat et mauris. Integer nec nulla rhoncus, facilisis felis rhoncus, vehicula tellus. Donec porttitor lacus egestas nisl vehicula fermentum. Phasellus sagittis, elit sit amet eleifend pharetra, ligula quam feugiat arcu, nec interdum magna mi ac neque. Quisque a metus ac mi commodo mollis. Curabitur porta tellus ac augue ullamcorper blandit. Vivamus blandit scelerisque libero ac varius. Morbi et enim eget erat dapibus feugiat. Sed in diam condimentum, mollis nibh at, tincidunt augue. Vivamus iaculis semper accumsan. Aliquam semper vitae neque eget suscipit. Nulla placerat magna accumsan, mollis mi aliquet, feugiat metus. Ut et aliquet nulla. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean vel dictum nisl, nec scelerisque eros. Proin hendrerit tempor nisl at laoreet.

Etiam at lectus augue. Integer nec laoreet enim. Duis neque ipsum, dignissim ac luctus non, placerat ut risus. Praesent in ex ex. Nullam ut neque eros. Nunc feugiat aliquam lacinia. Maecenas finibus sodales odio non aliquet. Donec lobortis id nulla in dictum. Cras sed libero sit amet ipsum blandit lobortis. Morbi fermentum lectus id maximus sagittis. Donec libero odio, luctus eu mi quis, iaculis venenatis libero. In ultrices, lorem egestas imperdiet pharetra, sapien enim rhoncus quam, non tempus ante lectus et sapien.
</p>
</div>


<div class="images">
  <div class="image">
    <img src="assets/images/bh-telecom.jpg"  style="width:126px;height:126px;">
  </div>

  <div class="image">
        <img src="assets/images/BSTS_logo.png" style="width:126px;height:126px;" />
  </div>

  <div class="image">
        <img src="assets/images/disti.jpg" style="width:126px;height:126px;" />
  </div>

  <div class="image">
        <img src="assets/images/diveco-energo.png" style="width:126px;height:126px;" />
  </div>

  <div class="image">
        <img src="assets/images/infostudio.jpg" style="width:126px;height:126px;" />
  </div>

  <div class="image">
        <img src="assets/images/mistral.png" style="width:126px;height:126px;" />
  </div>

  <div class="image">
        <img src="assets/images/zira.jpg" style="width:126px; height:126px;" />
  </div>

  <div class="image">
        <img src="assets/images/images.jpg" style="width:126px;height:126px;" />
  </div>
</div>
